{php $settings = $this->module['config'];}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.5.2/css/amazeui.min.css">
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.5.0/js/amazeui.min.js"></script>
<style type="text/css">
</style>
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed" style="opacity:0.7;
background:-moz-linear-gradient(top,#f41b1b,#fa4444);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f41b1b), to(#fa4444));/*谷歌*/ 
background: -webkit-linear-gradient(top, #f41b1b, #fa4444);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #f41b1b, #fa4444);  /*Opera 11.10+*/
">
      <div class="am-header-left am-header-nav">
          <a href="{php echo $this->createMobileUrl('index')}">
            <i class="am-icon-home am-icon-sm"></i>
          </a>
      </div>
      <h1 class="am-header-title">{$settings['name']}</h1>
      <div class="am-header-right am-header-nav">
          <a href="#right-link">
                <i class="am-icon-shopping-cart am-icon-sm"></i>
          </a>
           <a href="{php echo $this->createMobileUrl('center')}" class="am-btn am-btn-secondary">
                <i class="am-icon-user am-icon-sm"></i>
          </a>
      </div>
  </header>
</head>
<body>