<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>完全免费的爆粉神器，全天自动挂机，加粉加到手软。</title>
    <link rel="stylesheet" href="http://hufen.kuaidianshop.com/static/css/foundation.css?version="/>
    <link rel="stylesheet" href="http://hufen.kuaidianshop.com/static/css/main.css?version="/>
    <script src="http://hufen.kuaidianshop.com/static/js/modernizr.js?version="></script>
    <script src="http://hufen.kuaidianshop.com/static/js/jquery.js?version="></script>
    <script src="http://hufen.kuaidianshop.com/static/js/foundation.min.js?version="></script>
    <script src="http://hufen.kuaidianshop.com/static/js/main.js?version="></script>
    <style>    .code-img {
        text-align: center;
    }

    .code-img img {
        width: 70%;
    }

    /*.code .cnt-box {*/
    /*margin-top: 16px;*/
    /*}*/

    .code p {
        margin: 10px;
    }

    .rule-title {
        background: #ff6000;
        width: 100px;
        margin-left: 15px;
        text-align: center;
    }

    .rule-title p {
        color: #ffffff;
    }

    .rule-des {
        text-align: justify;
        padding: 0 4px 10px 4px;
    }
    </style>
</head>
<body>
<script>    $(document).foundation();
alert_ok = null;
function new_alert(msg, cb) {
    alert_ok = cb;
    $('#tip .text').html(msg);
    $('#tip').show();
}
old_alert = window.alert;
window.alert = new_alert;
$('#alert_ok').click(function () {
    if (alert_ok) {
        alert_ok();
    }
    $('#tip').hide();
});
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script> // Weixin JSSDK
document.write('<script src="/index.php?m=Index&a=payjs&url=' + encodeURIComponent(location.href) + '"><\/script>');
</script>
<!-- 统计代码 -->
<div style="display:none;">
    <script src="http://s11.cnzz.com/stat.php?id=1257185828&web_id=1257185828" language="JavaScript"></script>
</div>
<div class="wrapper">
    <div class="content">
        <div class="dialog" id="tip">
            <div class="dialog-cnt">
                <div class="dialog-bd"><h3>提示</h3>

                    <p class="text"></p><a class="button correct-btn" id="alert_ok">确&nbsp;&nbsp;定</a></div>
            </div>
        </div>
        <!-- 头像 -->
        <div class="row"><h3>免费爆粉神器，加粉加到手软！</h3>

            <p style="color:red;font-size:14px"><b>日加千粉不再困难，全天全自动挂机。</b></p>

            <p style="color:red;font-size:14px"><b>扫码或者长按下方二维码，关注人脉宝<br>加入到爆粉行列中来吧，完全免费的平台。</b></p>

            <p><img src="http://hufen.kuaidianshop.com/upload2/user/user_ogf9Hvyc3OtZmJHKemsr18sJkjKs.jpg?time=2016-02-221"></p>

            <p><img src="http://hufen.kuaidianshop.com/static/images/j1.jpg"></img><img src="http://hufen.kuaidianshop.com/static/images/j2.jpg"></img><img src="http://hufen.kuaidianshop.com/static/images/j3.jpg"></img><img
                    src="http://hufen.kuaidianshop.com/static/images/j4.jpg"></img><img src="http://hufen.kuaidianshop.com/static/images/j5.jpg"></img></p>

            <h3>以上为了打开速度，只上传了一部分加的好友，扫码进去体验就知道了！！</h3></div>
    </div>
</div>
</body>
</html>