<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>人脉宝</title>
    <link rel="stylesheet" href="/static/css/foundation.css?version=20150221"/>
    <link rel="stylesheet" href="/static/css/main.css?version=20150221"/>
    <script src="/static/js/modernizr.js?version=20150221"></script>
    <script src="/static/js/jquery.js?version=20150221"></script>
    <script src="/static/js/foundation.min.js?version=20150221"></script>
    <script src="/static/js/main.js?version=20150221"></script>
    <link rel="stylesheet" href="/static/css/page.css?version=20150221"/>
    <style>
        img {
            width: 50px;
            height: 50px;
            vertical-align: super;
        }

        ul.round_user {
            text-align: left;
            font-size: 10px;
            line-height: 14px;
            background-color: #FFF;
            margin-bottom: 11px;
            display: block;
            color: #666666;
            margin: 10px;
        }

        ul.round_user li {
            border: solid #F1F1F1;
            border-width: 0 0 1px 0;
            padding: 0px 10px 0 10px;
            height: 70px;
            list-style: none;
        }

        .header_right div {
            margin-top: 0px;
        }

        .adddiv {
            max-width: 20%;

        }

        .fansadd {
            width: 60px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="dialog" id="tip">
            <div class="dialog-cnt">
                <div class="dialog-bd"><h3>提示</h3>

                    <p class="text"></p><a class="button correct-btn" id="alert_ok">确&nbsp;&nbsp;定</a></div>
            </div>
        </div>
        <div class="nav-bar">
            <ul class="row">
                <li class="small-4 medium-4 columns"><a class="top-nav active" href="/index.php?a=friend&type=1">一级好友</a></li>
                <li class="small-4 medium-4 columns"><a class="top-nav " href="/index.php?a=friend&type=2">二级好友</a></li>
                <li class="small-4 medium-4 columns"><a class="top-nav " href="/index.php?a=friend&type=3">三级好友</a></li>
            </ul>
        </div>
        <div class="consumption">
            <ul class="round_user">
                <li>
                    <div style="padding-top:6px; position:relative;"><span style='float:left;margin-left:10px;margin-right:10px;margin-top:5px;'><img
                            src='http://wx.qlogo.cn/mmopen/WKahTNlTLRvL92OBgfrgjZrSib0MQs3ymHRoD33KFT9EHBDSajibFW9hw2D7vlvp6TqN5TsoVhWRnej157HoQupWVc7GpMF47k/0'
                            width='50px;' height='50px;'></span><span class="header_right" style="margin-top:5px;"><div class="header_l_di"><span>昵称：fuckWay</span>
                    </div><div><span>VIP会员：否</span></div><div><span>微信号：fuckaway</span></div><div><span>人脉ID：884102</span></div>
                        <data name="fsimg884102"  class="fscode_it884102" data-src="./upload/qrcode/2016-02-16/thumb_56c282e0ca44a.jpg"/></span>

                        <div class="adddiv" style="position:absolute; top:21px; right:0px;"><a href="/index.php?m=Fans&a=info&id=884102" class="fansadd btn button"
                                                                                               fansid="884102">加好友</a></div>
                    </div>
                </li>
                <li>
                    <div style="padding-top:6px; position:relative;"><span style='float:left;margin-left:10px;margin-right:10px;margin-top:5px;'><img
                            src='http://wx.qlogo.cn/mmopen/WKahTNlTLRvL92OBgfrgjREntMGekX5qxGxI4UsSTw5u61R0esfVia9kLstNE2keRfiaic2tq99DbynHEfhq9NmvibCV1QKFl4kW/0'
                            width='50px;' height='50px;'></span><span class="header_right" style="margin-top:5px;"><div class="header_l_di"><span>昵称：@</span></div><div>
                        <span>VIP会员：否</span></div><div><span>微信号：fuckaway</span></div><div><span>人脉ID：884387</span></div><data name="fsimg884387"
                                                                                                                               class="fscode_it884387"
                                                                                                                               data-src="./upload/qrcode/2016-02-16/thumb_56c2836ed2b42.jpg"/></span>

                        <div class="adddiv" style="position:absolute; top:21px; right:0px;"><a href="/index.php?m=Fans&a=info&id=884387" class="fansadd btn button"
                                                                                               fansid="884387">加好友</a></div>
                    </div>
                </li>
                <li>
                    <div style="padding-top:6px; position:relative;"><span style='float:left;margin-left:10px;margin-right:10px;margin-top:5px;'><img
                            src='http://wx.qlogo.cn/mmopen/Q3auHgzwzM4Hj5iafjc7vAK7LQx65gmLoTibrvh9wJAIib3UWlRX9fkKzPBC5VlzDJzMAqXa0icQ5w5nY8eGZELavW004ljaVnojmABLn136phs/0'
                            width='50px;' height='50px;'></span><span class="header_right" style="margin-top:5px;"><div class="header_l_di"><span>昵称：文刀</span></div><div>
                        <span>VIP会员：否</span></div><div><span>微信号：</span></div><div><span>人脉ID：910137</span></div><data name="fsimg910137" class="fscode_it910137"
                                                                                                                       data-src=""/></span></div>
                </li>
                <li>
                    <div style="padding-top:6px; position:relative;"><span style='float:left;margin-left:10px;margin-right:10px;margin-top:5px;'><img
                            src='http://wx.qlogo.cn/mmopen/2oBvK2IpP3U2O6ibgIqaUpWynFFnCtIEVzzIYnicwibPe03bxGCWDAKCNI4PuZqyOuXB8AQtR3g6ye5aHVpX3mEWqyLpbE3ibOWd/0'
                            width='50px;' height='50px;'></span><span class="header_right" style="margin-top:5px;"><div class="header_l_di"><span>昵称：桂派优品</span>
                    </div><div><span>VIP会员：否</span></div><div><span>微信号：it0771</span></div><div><span>人脉ID：910377</span></div><data name="fsimg910377"
                                                                                                                                    class="fscode_it910377"
                                                                                                                                    data-src="./upload/qrcode/2016-02-16/thumb_56c2c4f157755.jpg"/></span>

                        <div class="adddiv" style="position:absolute; top:21px; right:0px;"><a href="/index.php?m=Fans&a=info&id=910377" class="fansadd btn button"
                                                                                               fansid="910377">加好友</a></div>
                    </div>
                </li>
                <li>
                    <div style="padding-top:6px; position:relative;"><span style='float:left;margin-left:10px;margin-right:10px;margin-top:5px;'><img
                            src='http://wx.qlogo.cn/mmopen/UDa9R1yl9UZPTeKRU67EEHxngoRuCWEX29PTx919EHIRht0DocChqeTcoYqpJYXlRSgdXxCWOkmoIDj2oXEn4AJYkOeQkqdV/0'
                            width='50px;' height='50px;'></span><span class="header_right" style="margin-top:5px;"><div class="header_l_di"><span>昵称：melody</span>
                    </div><div><span>VIP会员：否</span></div><div><span>微信号：</span></div><div><span>人脉ID：1260430</span></div><data name="fsimg1260430"
                                                                                                                               class="fscode_it1260430"
                                                                                                                               data-src=""/></span></div>
                </li>
            </ul>
        </div>
        <div class="pagination" style="margin:0 auto;">
            <li><a>5 人</a></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </div>
    </div>
</div>
<div class="bottom-bar">
    <ul class="row">
        <li class="small-3 medium-3 columns"><a class="bottom-nav "
                                                href="/index2.php?m=Fans"><span>首页</span></a></li>
        <li class="small-3 medium-3 columns "><a class="bottom-nav "
                                                 href="/index2.php?m=Product"><span>货源中心</span></a></li>
        <li class="small-3 medium-3 columns "><a class="bottom-nav free_vip "
                                                 href="/index2.php?a=vip"><span>兑换VIP</span></a></li>
        <li class="small-3 medium-3 columns "><a class="bottom-nav free_vip "
                                                 href="/index2.php?m=Fans&a=info"><span>个人中心</span></a></li>
        <!--  		<li class="small-3 medium-3 columns "><a class="bottom-nav "
                    onclick="new_alert('即将上线，发布名片后一级好友达10人即可免费发布，尽请期待。'); return false;"
                    href="#"><span>免费清货</span></a></li>
                --></ul>
</div>
<script>
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    var $free_vip = getCookie('free_vip');
    $('.free_vip1').click(function () {
        if ($free_vip == '') {
            $('#alert_ok').attr("href", '/index.php?m=Invite');
            $('#alert_ok').text('分享到朋友圈成为脉客');
            new_alert('您还不是脉客或者已到期！分享指定文章到朋友圈即可成为脉客');
            return false;
        }
    });
</script>
<script>    $(document).foundation();
alert_ok = null;
function new_alert(msg, cb) {
    alert_ok = cb;
    $('#tip .text').html(msg);
    $('#tip').show();
}
old_alert = window.alert;
window.alert = new_alert;
$('#alert_ok').click(function () {
    if (alert_ok) {
        alert_ok();
    }
    $('#tip').hide();
});
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script> // Weixin JSSDK
document.write('<script src="/index.php?m=Index&a=payjs&url=' + encodeURIComponent(location.href) + '"><\/script>');
</script>
<!-- 统计代码 -->
<div style="display:none;">
    <script src="http://s11.cnzz.com/stat.php?id=1257185828&web_id=1257185828" language="JavaScript"></script>
</div>
</body>
</html>