<ion-tabs class="tabs-icon-top tabs-color-active-assertive" ng-class="{'tabs-item-hide': hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab title="商城首页" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!--<ion-tab title="订单" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/order">-->
    <!--<ion-nav-view name="tab-order"></ion-nav-view>-->
  <!--</ion-tab>-->

  <ion-tab title="会员等级" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <!--<ion-tab title="我的二维码" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/qrcode">-->
    <!--<ion-nav-view name="tab-qrcode"></ion-nav-view>-->
  <!--</ion-tab>-->


</ion-tabs>
