/*特效部分*/
.us {-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);box-shadow: 0 1px 4px rgba(0, 0, 0, .3)}
.us1 {-webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);box-shadow: 0 1px 4px rgba(120, 120, 120, .3)}
.us2 {-webkit-box-shadow: 0 1px 4px rgba(22, 22, 22, 1);box-shadow: 0 1px 4px rgba(22, 22, 22, .3)}
.us3 {-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);box-shadow: 0 0 3px rgba(0, 0, 0, .3)}
.us-i {-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4);box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4)}
.uts{text-shadow:0px 2px 2px #000;}
.uts1{text-shadow:0px 1px 1px #000;}
.uc-a0{-webkit-border-radius:0em;border-radius:0em;}
.uc-a01{-webkit-border-radius:0.1em;border-radius:.1em;}
.uc-a02{-webkit-border-radius:0.2em;border-radius:.2em;}
.uc-a025{-webkit-border-radius:0.2em;border-radius:.25em;}
.uc-a03{-webkit-border-radius:0.3em;border-radius:.3em;}
.uc-a04{-webkit-border-radius:0.4em;border-radius:.4em;}
.uc-a05{-webkit-border-radius:0.5em;border-radius:.5em;}
.uc-a06{-webkit-border-radius:0.6em;border-radius:.6em;}
.uc-a07{-webkit-border-radius:0.7em;border-radius:.7em;}
.uc-a075{-webkit-border-radius:0.7em;border-radius:.75em;}
.uc-a08{-webkit-border-radius:0.8em;border-radius:.8em;}
.uc-a09{-webkit-border-radius:0.9em;border-radius:.9em;}
.uc-a10{-webkit-border-radius:1em;border-radius:1em;}
.uc-a15{-webkit-border-radius:1.5em;border-radius:1.5em;}
.uc-a175{-webkit-border-radius:1.75em;border-radius:1.75em;}
.uc-a20{-webkit-border-radius:2.0em;border-radius:2.0em;}
.uc-a25{-webkit-border-radius:2.5em;border-radius:2.5em;}
.uc-a30{-webkit-border-radius:3.0em;border-radius:3.0em;}
.uc-a35{-webkit-border-radius:3.5em;border-radius:3.5em;}
.uc-a40{-webkit-border-radius:4.0em;border-radius:4.0em;}
.uc-a40{-webkit-border-radius:4.0em;border-radius:4.0em;}
.uc-a50{-webkit-border-radius:5.0em;border-radius:5.0em;}
.uc-a{-webkit-border-radius:.4em;border-radius:.4em;}
.uc-tl02{-webkit-border-top-left-radius:0.2em;border-top-left-radius: 0.2em}
.uc-tr02{-webkit-border-top-right-radius:0.2em;border-top-right-radius: 0.2em}
.uc-bl02{-webkit-border-bottom-left-radius:0.2em;border-bottom-left-radius: 0.2em}
.uc-br02{-webkit-border-bottom-right-radius:0.2em;border-bottom-right-radius: 0.2em}

.uc-tl03{-webkit-border-top-left-radius:0.3em;border-top-left-radius: 0.3em}
.uc-tr03{-webkit-border-top-right-radius:0.3em;border-top-right-radius: 0.3em}
.uc-bl03{-webkit-border-bottom-left-radius:0.3em;border-bottom-left-radius: 0.3em}
.uc-br03{-webkit-border-bottom-right-radius:0.3em;border-bottom-right-radius: 0.3em}

.uc-tl{-webkit-border-top-left-radius:0.5em;border-top-left-radius: 0.5em}
.uc-tr{-webkit-border-top-right-radius:0.5em;border-top-right-radius: 0.5em}
.uc-bl{-webkit-border-bottom-left-radius:0.5em;border-bottom-left-radius: 0.5em}
.uc-br{-webkit-border-bottom-right-radius:0.5em;border-bottom-right-radius: 0.5em}
.uc-a{-webkit-border-radius:0.6em;border-radius:0.6em;}
.op9{filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.op8{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.op7{filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}
.op6{filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;}
.op5{filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.op4{filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;}
.op3{filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.op2{filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;}
.op1{filter:alpha(opacity=10);-moz-opacity:0.1;opacity:0.1;}
.op0{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.round_trip
{
	right:0.1em; top:0.1em; display:block; position:absolute;
}
.bg_juchi
{
    background-image:-webkit-gradient(linear,50% 0,0 100%,from(transparent),color-stop(.5,transparent),color-stop(.5,#000000),to(#000000)),-webkit-gradient(linear,50% 0,100% 100%,from(transparent),color-stop(.5,transparent),color-stop(.5,#000000),to(#000000)) !important;background-image:-moz-linear-gradient(50% 0 -45deg,transparent,transparent 50%,#000000 50%,#000000),-moz-linear-gradient(50% 0 -135deg,transparent,transparent 50%,#000000 50%,#000000) !important;background-size:10px 5px !important;background-repeat:repeat-x !important;background-position:0 100% !important;                                    
}
