<div class="panel panel-default">
        <div class="panel-heading">关联活动</div>
        <div class="panel-body">

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动期数</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <select name="sid" class="form-control">
                            {loop $settinglists $items}
								<option {if $sid == $items['id']} selected{/if} value="{$items['id']}">{$items['tit']}{if in_array($items['id'],$sids)}（其他公众号分享绑定）{/if}</option>
							{/loop}
                        </select>
                    </div>               
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">执行动作</label>
                    <div class="col-sm-6 col-md-8 col-xs-12">
                        <select name="action" class="form-control">
							<option {if $action == 0} selected{/if} value="0">图文首页</option>
							<option {if $action == 1} selected{/if} value="1">报名</option>
							<option {if $action == 2} selected{/if} value="2">投票</option>
                        </select>
                    </div>               
                </div>				
        </div>
    </div>