{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('lists');}">报名列表</a></li>
    <li><a href="{php echo $this->createWebUrl('edit');}">添加报名</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('safe');}">数据监控</a></li>
	<li><a href="{php echo $this->createWebUrl('votelog');}">投票日志</a></li>
</ul>
<div class="main">
	{if empty($_GPC['pid'])}
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="xiaof_toupiao">
                <input type="hidden" name="do" value="safe">
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">活动期数</label>
                    <div class="col-xs-12 col-sm-8 col-lg-8">
                        <select name="sid" class="form-control">
                            <option {if $_GPC['sid'] == ''} selected{/if} value="">不限</option>
                            {loop $settinglists $items}
								<option {if $_GPC['sid'] === $items['id']} selected{/if} value="{$items['id']}">{$items['tit']}</option>
							{/loop}
                        </select>
                    </div>     
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>    					
                </div>

            </form>
        </div>
    </div>
	{/if}
    <form action="?{$_SERVER['QUERY_STRING']}" method="post" id="form1">
        <table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
            <thead class="navbar-inner">
            <tr>
                <th style="width:90px;">选手编号</th>
                <th style="width:80px;">阅读</th>
                <th style="width:80px;">点赞</th>
				<th style="width:80px;">分享</th>
				<th style="width:100px;">同ip投票<br/>登陆微信</th>
				<th style="width:160px;">投票ip<br/>地区</th>
				<th style="width:160px;">最后投票时间</th>
				<th style="width:90px;">IP状态</th>
				<th style="width:90px;">票数状态</th>				
				<th style="min-width:70px;" class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr {if $item['hide'] == '1'}style="background:#e6e6e6"{/if}>
                <td>{$item['uid']}</td>
                <td>{$item['click']}</td>
				<td>{$item['good']}</td>
                <td>{$item['share']} </td>
				<td >
					<span class="label label-primary" title="同一个ip给选手投票数">{$item['count']}</span>
					<br>
					<span class="label label-warning" title="同一个ip给选手投票使用的微信数量">{$item['ocount']}</span>				
				</td>
				<td title="{$item['dz']}">
				{php echo long2ip($item['ip']);}<br>
				{$item['dz']} 
				</td>
				<td>{php echo date('Y-m-d H:i:s', $item['created_at'])} </td>
				<td>{if $item['hide'] == '1'}<span class="label label-danger">ip黑名单</span>{else}<span class="label label-success">正常</span>{/if}</td>
				<td>{if $item['unum'] != '0'}<span class="label label-danger">已减{$item['unnum']}票</span>{else}<span class="label label-success">正常</span>{/if}</td>
				<td class="text-right" style="overflow:visible;">
					<div class="btn-group">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ip操作<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{php echo $this->createWebUrl('safe', array('hide'=>'n','safeid'=>$item['safeid'],'sid'=>$item['sid']));}" >ip解除黑名单</a></li>
								<li><a href="{php echo $this->createWebUrl('safe', array('hide'=>'y','ip'=>$item['ip'],'sid'=>$item['sid']));}" >ip加入黑名单</a></li>							
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							票数操作<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{php echo $this->createWebUrl('safe', array('unum'=>'n','manageid'=>$item['manageid'],'sid'=>$item['sid']));}" >恢复删除票</a></li>
								<li><a href="{php echo $this->createWebUrl('safe', array('unum'=>'y','mid'=>md5($item['pid'].$item['ip']),'num'=>$item['count'],'pid'=>$item['pid'],'sid'=>$item['sid']));}" >删除作弊票数</a></li>							
							</ul>
						</div>	
						<a href="{php echo $this->createWebUrl('safe', array('pid'=>$item['pid']));}" title="投票记录" class="btn btn-success">投票记录</a>
					</div>	
				</td>
            </tr>
            {/loop}
            </tbody>
        </table>

        {$pager}
    </form>
</div>
<script>
    $('#form1').submit(function(){
        if($(":checkbox[name='delete[]']:checked").size() > 0){
            return confirm('删除后不可恢复，您确定删除吗？');
        }
        alert('没有选择粉丝');
        return false;
    });
</script>
{template 'common/footer'}