* {
	margin: 0;
	padding: 0;
	list-style-type: none
}

a,img {
	border: 0
}

a {
	text-decoration: none;
}

body {
	font: 14px/140% Lucida Grande,'Microsoft YaHei',"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	margin: 0 auto;
	min-width: 320px;
	max-width: 640px;
	height: 100%;
	padding-bottom: 50px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1
}

.fn-left,.fn-right {
	display: inline;
}

.fn-left {
	float: left;
}

.fn-right {
	float: right;
}

.fn-mr-8 {
	margin-right: 8px;
}

.wrapper {
	margin: 0 auto;
	width: 97%
}

/*	header start	*/
.head {
	margin-bottom: 9px
}

.head-banner img {
	width: 100%;
	display: block
}

.head-box {
	padding: 6px 0px;
}

.head-box a {
	display: block;
}

.head-box i {
	font-size: 18px;
}

.head-box-content {
	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.45);
	padding: 5px 0px;
}

.box-pl {
	padding-left: 10px;
}

.i-radius {
	border-radius: 29px;
	height: 37px;
	width: 37px;
	text-align: center;
}

.i-radius i {
	text-align: center;
}

.head-box-hr {
	height: 1px;
	width: 100%;
	background: #FFF;
	opacity: 0.2;
}

.head-count {
	text-align: center;
	padding: 8px 0
}

.head-count span {
	width: 32%;
	display: inline-block;
	text-align: center;
	font-family: Microsoft YaHei;
	font-size: 15px;
	border-left: 1px solid #A2A2A2;
}

.head-count span:first-child {
	border-left: 0;
}
/*	header end	*/


/*	popupshade start	*/
.popupshade.is-visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s 0s,visibility 0s 0s
}

.is-visible .popup {
	transform: translateY(0)
}

.popupshade {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	z-index: 999;
	top: 0;
	left: 0
}

.popup {
	width: 80%;
	min-height: 66px;
	position: fixed;
	left: 8%;
	background: #fff;
	top: 25%;
	border: 6px solid #3a3a3a;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	transform: translateY(-40px);
	transition-property: transform;
	transition-duration: .3s;
	color: #333;
}

.popup-container {
	padding: 6px 10px
}

.popup .close {
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	position: absolute;
	top: -15px;
	right: -12px;
	background: #666;
	border: 1px solid #fff;
	width: 22px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	line-height: 22px;
	color: #fff;
	display: none
}

.follow-button {
	display: block;
	width: 100%;
	height: 45px;
	margin: 0 auto;
	background: #ffec92;
	border: 1px solid #030303;
	text-align: center;
	color: #030303;
	font-size: 19px;
	line-height: 45px;
	margin-top: 12px;
}
/*	popupshade end	*/

/*	popularity start	*/
.popularity {
}

.popularity li {
	width: 32.6%;
	height: 122px;
	overflow: hidden;
	float: left;
	margin-right: 3px;
	margin-top: 3px;
	line-height: 122px;
	background: #fff;
}

.popularity li:nth-child(3n) {
	margin-right: 0px;
}

@media screen and (min-width: 380px) {
	.popularity li {
		height: 160px;
		line-height: 160px;
	}
}

@media screen and (min-width: 500px) {
	.popularity li {
		height: 220px;
		line-height: 220px;
	}
}

.popularity li img {
	width: 100%;
	vertical-align: middle;
}

/*	popularity end	*/

/*	footer start	*/
.footer {
	margin-top: 12px
}
/*	footer end	*/

/*	explain start	*/
.explain-content {
	padding: 4px 0px;
}
/*	explain end	*/

/*	bottom start	*/
.bottom {
	width: 100%;
	height: 50px;
	background: #3a3a3a;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	min-width: 320px;
	max-width: 640px;
}

.bottom li {
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
	color: #fff;
}

.bottom li a {
	color: #fff;
	font-size: 12px;
}

.bottom span {
	display: inline-block;
	width: 100%;
	height: 50px;
	vertical-align: top
}

.bottom .icon {
	display: inline-block;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	text-align: center
}

.bottom .icon i {
	font-size: 18px;
}

.bottom-search {
	position: relative;
}

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		visibility: visible
	}

	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
		visibility: visible
	}

	100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp
}

.search-box {
	position: fixed;
	left: 20%;
	bottom: 88px;
	background: #3a3a3a;
	width: 60%;
	height: 80px;
	z-index: 999;
	box-shadow: 0px 2px 6px #000;
	display: none;
}

.search-box .search-form {
	margin-top: 18px;
	margin-left: 10px;
}

.search-box .search-input {
	border: 1px solid #ccc;
	box-shadow: inset 2px 4px 6px #ABABAB;
	float: left;
	width: 54%;
	height: 36px;
	padding-left: 4px;
}

.search-box .search-button {
	width: 36%;
	height: 38px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 0px;
}
/*	bottom end	*/

/*	share start	*/
.share-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(0, 0, 0, 0.7);
}

.share-layer img {
	width: 100%;
}
/*	share end	*/

/* --------------------------------------------------------------------------------
*	global style end
* -------------------------------------------------------------------------------*/


.index-order {
	margin: 0 auto;
	width: 97%;
	font-size: 14px;
	font-family: Microsoft YaHei;
	height: 36px;
	margin-bottom: 8px;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	display: -webkit-box;
}

.index-order .nav {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	display: block;
	margin-left: 1px;
	text-align: center;
	color: #fff;
	height: 100%;
	line-height: 36px;
	font-size: 14px;
	vertical-align: top;
}

.index-order .nav:first-child {
	margin-left: 0
}

#container {
	width: calc(97% + 5px)
}

.item {
	width: 49.9%;
	margin-bottom: 4px;
	float: left
}

.item .pic-box {
	position: relative;
	margin: 0 2px;
	border-radius: 3px
}

.item .pic-box i {
	position: absolute;
	top: 0;
	right: 4%;
	width: 54px;
	height: 25px;
	opacity: .7;
	line-height: 35px;
	text-align: center;
	color: #fff
}

.item .pic-box i:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 25px;
	right: 0;
	border-top: 10px solid;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent
}

.item .pic-box .pic-a {
	display: block;
	padding: 3px 3px 0
}

.item .pic-box .pic-a img {
	width: 100%;
	display: block
}

.item .pic-box .pic-info {
	position: relative;
	height: 36px;
	color: #fff
}

.pic-info span {
	vertical-align: top;
	line-height: 16px;
	display: inline-block;
	margin-left: 3px
}

.pic-info .honor {
	line-height: 42px
}

.pic-info .ballot {
	margin-top: 3px
}

.item .pic-box .vote {
	line-height: 36px;
	position: absolute;
	top: 0;
	right: 0;
	width: 33%;
	height: 100%;
	text-align: center;
}

.pagination {
	margin: 8px auto;
	width: 97%;
	text-align: center;
	padding: 6px 0
}

/* audio start */
#audio_btn {
	position: fixed;
	right: 10px;
	top: 28px;
	z-index: 200;
	display: none;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	cursor: pointer
}

.loading_background {
	background-image: url(../images/music_loading.gif);
	background-size: 30px 30px;
	opacity: .5;
	background-position: center center
}

.loading_yinfu {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-image: url(../images/music_yinfu.png);
	background-repeat: no-repeat;
	background-position: center center
}

.play_yinfu {
	background-image: url(../images/music.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60px 60px
}

.rotate {
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-image: url(../images/music_off.png);
	-webkit-animation: rotating 1.2s linear infinite;
	-moz-animation: rotating 1.2s linear infinite;
	-o-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes rotating {
	from {
		transform: rotate(0)
	}

	to {
		transform: rotate(360deg)
	}
}

@-moz-keyframes rotating {
	from {
		-moz-transform: rotate(0)
	}

	to {
		-moz-transform: rotate(360deg)
	}
}

.off {
	background: url(../images/music_off.png);
	background-size: 30px 30px
}

/* --------------------------------------------------------------------------------
*	index style end
* -------------------------------------------------------------------------------*/



.join-form tr {
	font-size: 16px
}

.join-form .label {
	width: 84px;
	display: inline-block;
	vertical-align: top
}

.join-form td input {
	height: 32px;
	width: 98%;
	margin: 6px 0;
	border: 1px solid #a9a9a9
}

.join-form td textarea {
	height: 62px;
	width: 98%;
	margin: 6px 0;
	border: 1px solid #a9a9a9
}

.join-form .filepicker {
	background-image: url(../images/adds.png);
	width: 62px;
	height: 62px;
	display: inline-block
}

.pic-container .picid {
	float: left;
	margin-right: 8px;
	position: relative;
}

.pic-container .pic-close {
	position: absolute;
	top: 18px;
	right: 18px;
	background: #666;
	border: 1px solid #fff;
	width: 22px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	line-height: 19px;
	color: #fff;
}

.pic-container img {
	width: 62px;
	height: 62px;
	display: inline-block;
}

.join-button {
	display: block;
	border: 0;
	width: 230px;
	height: 45px;
	margin: 0 auto;
	background: #dea543;
	border-bottom: 5px solid #030303;
	border-radius: 10px;
	text-align: center;
	color: #030303;
	font-size: 19px;
	line-height: 45px;
	margin-top: 12px;
	font-family: Arial;
}

/* --------------------------------------------------------------------------------
*	join style end
* -------------------------------------------------------------------------------*/


.show-lists img {
	width: 100%
}

#show-container {
	height: auto;
}

#showthumb-container {
	height: 60px;
	width: 100%;
}

@media screen and (min-width: 380px) {
	#showthumb-container {
		height: 100px;
	}
}

@media screen and (min-width: 500px) {
	#showthumb-container {
		height: 140px;
	}
}

#showthumb-container .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

#showthumb-container .swiper-slide-active {
	opacity: 1;
}

.cloth-wrappers {
	position: fixed;
	left: 10%;
	bottom: 88px;
	background: #3a3a3a;
	width: 80%;
	height: 157px;
	z-index: 999;
	box-shadow: 0px 2px 6px #000;
	display: none;
}

.cloth-wrappers .close {
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	position: absolute;
	top: -15px;
	right: -12px;
	background: #666;
	border: 1px solid #fff;
	width: 22px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	line-height: 22px;
	color: #fff;
	display: none;
}

.load-intro {
	font-size: 12px;
	color: #fff;
}

.cloth-wrappers .cloth-box {
	padding: 16px 20px;
}

.box-shadow {
	box-shadow: 1px 1px 9px #3A3A3A inset;
	height: 100%;
	width: 100%;
}

.cloth-wrappers table {
	width: 100%;
	height: 100%;
}

.cloth-wrappers td {
	border: solid #828282;
	border-width: 0px 1px 1px 0px;
}

.load-item {
	height: 49px;
	text-align: center;
	line-height: 14px;
	margin-top: 8px;
}

/* --------------------------------------------------------------------------------
*	show style end
* -------------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

dt,td {
	margin: 0;
	padding: 0
}

.draw {
	width: 100%;
}

.draw td {
	overflow: hidden;
}

.draw-box {
	margin: 1px;
	position: relative;
}

.draw-box .cur-shade {
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all .4s;
}

.draw-box span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	text-align: center;
}

.draw img {
	width: 100%;
}

.draw-cur {
	animation: twinkling 1s infinite ease-in-out;
	-webkit-animation: twinkling 1s infinite ease-in-out;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes twinkling {
 
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.8;
	}
}

@keyframes twinkling {
 
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.8;
	}
}
