html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Helvetica;
	vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}
body {
	line-height: 1
}
ol,
ul {
	list-style: none
}
blockquote,
q {
	quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
* {
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat
}
body {
	font-family: Helvetica, sans-serif
}
input,
textarea {
	outline: 0;
	resize: none;
	border: 0 none;
	background: none;
	-webkit-appearance: none
}
html,
body {
	font-size: 20px;
	width: 100%;
	height: 100%;
	background: #fff
}
a {
	text-decoration: none
}
input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3)
}
.mask {
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 100;
	-webkit-transition: opacity .5s;
	transition: opacity .5s
}
.mask.show {
	opacity: 1
}
.mask .box {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(0, 100px);
	transform: translate(0, 100px);
	-webkit-transition: all .5s;
	transition: all .5s
}
.mask .box.show {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1
}
.msg_box {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	line-height: 1.3;
	margin: -50px 0 0 0;
	font-size: 20px;
	text-align: center;
	z-index: 100;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s
}
.msg_box .msg {
	display: inline-block;
	padding: 10px;
	min-width: 100px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff
}
.msg_box.show {
	-webkit-transform: scale(1) translateZ(0);
	transform: scale(1) translateZ(0);
	opacity: 1
}
.wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden
}
.hide {
	display: none
}
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff
}
.loading_center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 195px;
	height: 193px;
	margin-left: -97.5px;
	margin-top: -96.5px
}
.loading_block {
	position: absolute;
	top: 0;
	left: 0;
	width: 195px;
	height: 193px;
	background: url("../images/loading_off.png");
}
.loading_block div {
	opacity: 0
}
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px
}
.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #002f71;
	opacity: .6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2s infinite ease-in-out;
	animation: bounce 2s infinite ease-in-out
}
.double-bounce2 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s
}
.loading_data {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-left: -100px;
	margin-top: -100px;
	text-align: center;
	font-size: 20px;
	color: #002f71
}
@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1)
	}
}
.viewport {
	-webkit-transform-origin: center top
}
.full,
.pages,
.page,
.mask .full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
@-moz-keyframes bounce {
	0%, 100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
@-webkit-keyframes bounce {
	0%, 100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
@-o-keyframes bounce {
	0%, 100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
@keyframes bounce {
	0%, 100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}
.page [data-animation="slideToTop"] {
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0)
}
.page [data-animation="slideToBottom"] {
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0)
}
.page [data-animation="slideToLeft"] {
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0)
}
.page [data-animation="slideToRight"] {
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0)
}
.page [data-animation="fadeInToTop"] {
	opacity: 0;
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
}
.page [data-animation="fadeInToBottom"] {
	opacity: 0;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0)
}
.page [data-animation="fadeInToLeft"] {
	opacity: 0;
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0)
}
.page [data-animation="fadeInToRight"] {
	opacity: 0;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0)
}
.page [data-animation="fadeIn"] {
	opacity: 0
}
.page [data-animation="fadeOut"] {
	opacity: 1
}
.page [data-animation="followSlide"] {
	-webkit-transform: translate3d(0, 1500px, 0);
	transform: translate3d(0, 1500px, 0)
}
.page [data-animation="followSlideToTop"] {
	-webkit-transform: translate3d(0, 1500px, 0);
	transform: translate3d(0, 1500px, 0)
}
.page [data-animation="followSlideToBottom"] {
	-webkit-transform: translate3d(0, -1500px, 0);
	transform: translate3d(0, -1500px, 0)
}
.page [data-animation="followSlideToLeft"] {
	-webkit-transform: translate3d(1500px, 0, 0);
	transform: translate3d(1500px, 0, 0)
}
.page [data-animation="followSlideToRight"] {
	-webkit-transform: translate3d(-1500px, 0, 0);
	transform: translate3d(-1500px, 0, 0)
}
@-webkit-keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToLeft {
	from {
		-webkit-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToRight {
	from {
		-webkit-transform: translate3d(-700px, 0, 0);
		transform: translate3d(-700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@-webkit-keyframes followSlideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToRight {
	from {
		-webkit-transform: translate3d(-1000px, 0, 0);
		transform: translate3d(-1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToLeft {
	from {
		-webkit-transform: translate3d(1000px, 0, 0);
		transform: translate3d(1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}
@-webkit-keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
		opacity: 0
	}
	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-webkit-keyframes rotateInDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0
	}
	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: none;
		transform: none;
		opacity: 1
	}
}
@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0)
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0)
	}
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}
@-webkit-keyframes moveToRight {
	0% {
		-webkit-transform: translateX(-1000px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}
@-webkit-keyframes moveToBottom {
	0% {
		-webkit-transform: translateY(-1000px)
	}
	100% {
		-webkit-transform: translateY(0)
	}
}
@-webkit-keyframes fadeInOut {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@-webkit-keyframes fadeInOutLine {
	0% {
		opacity: .5
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: .5
	}
}
@-webkit-keyframes flash {
	0%, 50%, 100% {
		opacity: 1
	}
	25%,
	75% {
		opacity: 0
	}
}
@-webkit-keyframes float {
	0%, 50%, 100% {
		-webkit-transform: translateY(0)
	}
	25%,
	75% {
		-webkit-transform: translateY(-10px)
	}
}
@-webkit-keyframes zoomInToB {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	50% {
		opacity: 1
	}
}
@-webkit-keyframes zoomInToBBack {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3)
	}
	30% {
		opacity: 1;
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3)
	}
	50% {
		opacity: 1
	}
}
@-webkit-keyframes zoomInToS {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(1.3, 1.3, 1.3);
		transform: scale3d(1.3, 1.3, 1.3)
	}
	50% {
		opacity: 1
	}
}
@-moz-keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes slideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes slideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes slideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes slideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes slideToLeft {
	from {
		-webkit-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToLeft {
	from {
		-webkit-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes slideToLeft {
	from {
		-webkit-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes slideToLeft {
	from {
		-webkit-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes slideToRight {
	from {
		-webkit-transform: translate3d(-700px, 0, 0);
		transform: translate3d(-700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes slideToRight {
	from {
		-webkit-transform: translate3d(-700px, 0, 0);
		transform: translate3d(-700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes slideToRight {
	from {
		-webkit-transform: translate3d(-700px, 0, 0);
		transform: translate3d(-700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes slideToRight {
	from {
		-webkit-transform: translate3d(-700px, 0, 0);
		transform: translate3d(-700px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes fadeInToTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes fadeInToTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes fadeInToTop {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes fadeInToBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes fadeInToBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes fadeInToBottom {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes fadeInToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes fadeInToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes fadeInToRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes fadeInToLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes fadeInToLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes fadeInToLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes fadeInToLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-o-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@-moz-keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@-o-keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@keyframes fadeOut {
	from {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
@-moz-keyframes followSlideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes followSlideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes followSlideToTop {
	from {
		-webkit-transform: translate3d(0, 1000px, 0);
		transform: translate3d(0, 1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes followSlideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes followSlideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes followSlideToBottom {
	from {
		-webkit-transform: translate3d(0, -1000px, 0);
		transform: translate3d(0, -1000px, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes followSlideToRight {
	from {
		-webkit-transform: translate3d(-1000px, 0, 0);
		transform: translate3d(-1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToRight {
	from {
		-webkit-transform: translate3d(-1000px, 0, 0);
		transform: translate3d(-1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes followSlideToRight {
	from {
		-webkit-transform: translate3d(-1000px, 0, 0);
		transform: translate3d(-1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes followSlideToRight {
	from {
		-webkit-transform: translate3d(-1000px, 0, 0);
		transform: translate3d(-1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-moz-keyframes followSlideToLeft {
	from {
		-webkit-transform: translate3d(1000px, 0, 0);
		transform: translate3d(1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-webkit-keyframes followSlideToLeft {
	from {
		-webkit-transform: translate3d(1000px, 0, 0);
		transform: translate3d(1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@-o-keyframes followSlideToLeft {
	from {
		-webkit-transform: translate3d(1000px, 0, 0);
		transform: translate3d(1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
@keyframes followSlideToLeft {
	from {
		-webkit-transform: translate3d(1000px, 0, 0);
		transform: translate3d(1000px, 0, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}
.mask .box_share {
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url("../images/box_share.png?36");
	position: fixed;
	left: 0;
	top: -100px;
	width: 464.1666666666667px;
	height: 432.5px
}
html,
body {
	height: auto;
	text-align: left;
	height: 100%;
	width: 100%;
	font-family: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center
}
table,
tr,
td {
	margin: 0;
	padding: 0;
	vertical-align: top
}
.wrap,
.pages,
.page {
	position: relative;
	width: 480px;
	height: auto;
	overflow: visible
}
.wrap {
	padding-bottom: 3rem
}
.Main {
	border: 0 #d2cecf solid;
	width: 100%;
	height: auto;
	position: relative
}
#Footer {
	background: url("../images/footer_bg.png?35") repeat;
	color: #fff;
	width: 100%;
	height: 4rem;
	font-size: .8rem;
	margin-top: 0
}
#Footer .text {
	padding-top: 1rem;
	text-align: center
}
.hide {
	display: none
}
.ListUserBox50 {
	width: 5rem;
	height: 5rem
}
.ListUserBox50 .UserImg {
	width: 5rem;
	height: 5rem;
	border-radius: .3rem;
	background: #eee;
	z-index: 100;
	position: absolute;
	text-align: center;
	overflow: hidden
}
.ListUserBox50 .UserImg img {
	width: 5rem;
	height: 5rem;
	border-radius: .3rem;
	overflow: hidden
}
.ListUserBox50 .UserName {
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .8rem;
	text-align: center;
	color: #fff;
	margin-top: 3rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.ListUserBox50 .UserId {
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	font-size: .8rem;
	text-align: center;
	color: #fff;
	margin-top: 4rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	border-bottom-left-radius: .3rem;
	border-bottom-right-radius: .3rem
}
.ListUserBox50 .UserRank {
	width: 1.4rem;
	height: 1.4rem;
	line-height: 1.4rem;
	border-radius: .7rem;
	font-size: .8rem;
	color: #fff;
	text-align: center;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden
}
.ListUserBox70 {
	width: 7rem;
	height: 7rem
}
.ListUserBox70 .UserImg {
	width: 7rem;
	height: 7rem;
	border-radius: .3rem;
	background: #eee;
	z-index: 100;
	position: absolute;
	text-align: center;
	overflow: hidden
}
.ListUserBox70 .UserImg img {
	width: 7rem;
	height: 7rem
}
.ListUserBox70 .UserName {
	width: 7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	margin-top: 4rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.ListUserBox70 .UserId {
	width: 7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	margin-top: 5.5rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	border-bottom-left-radius: .3rem;
	border-bottom-right-radius: .3rem
}
.ListUserBox70 .UserRank {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden
}
.ListUserBox100 {
	width: 10rem;
	height: 10rem
}
.ListUserBox100 .UserImg {
	width: 10rem;
	height: 10rem;
	border-radius: .3rem;
	background: #eee;
	z-index: 100;
	position: absolute;
	text-align: center;
	overflow: hidden
}
.ListUserBox100 .UserImg img {
	width: 10rem;
	height: 10rem;
	border-radius: .3rem;
	overflow: hidden
}
.ListUserBox100 .UserName {
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;
	margin-top: 6rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.ListUserBox100 .UserId {
	width: 10rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.6rem;
	text-align: center;
	color: #fff;
	margin-top: 8rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	border-bottom-left-radius: .6rem;
	border-bottom-right-radius: .6rem
}
.ListUserBox100 .UserRank {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 1rem;
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden
}
.ListUserBox140 {
	width: 14rem;
	height: 14rem
}
.ListUserBox140 .UserImg {
	width: 14rem;
	height: 14rem;
	border-radius: .6rem;
	background: #eee;
	z-index: 100;
	position: absolute;
	text-align: center;
	overflow: hidden
}
.ListUserBox140 .UserImg img {
	width: 14rem;
	height: 14rem;
	border-radius: .6rem;
	overflow: hidden
}
.ListUserBox140 .UserName {
	width: 14rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	margin-top: 8rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.ListUserBox140 .UserId {
	width: 14rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	margin-top: 11rem;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	border-bottom-left-radius: .6rem;
	border-bottom-right-radius: .6rem
}
.ListUserBox140 .UserRank {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	z-index: 101;
	position: absolute;
	background: rgba(9, 9, 9, 0.4);
	overflow: hidden
}
@-webkit-keyframes MsgBoxBg {
	0% {
		opacity: 0
	}
	100% {
		opacity: .5
	}
}
@-webkit-keyframes MsgBoxPopup {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1)
	}
	90% {
		-webkit-transform: scale3d(.99, .99, 1)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1)
	}
}
.MsgBox {
	border: 0 #000 solid;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	display: none;
	background-color: transparent;
	word-break: break-all
}
.MsgBox.Show {
	display: block
}
.MsgBox.Show>.MsgBg {
	animation: MsgBoxBg .25s ease-in-out;
	-moz-animation: MsgBoxBg .25s ease-in-out;
	-webkit-animation: MsgBoxBg .25s ease-in-out;
	-o-animation: MsgBoxBg .25s ease-in-out
}
.MsgBox>.MsgBg,
.MsgBox>.MsgMain {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}
.MsgBox>.MsgBg {
	position: absolute;
	background-color: #000;
	opacity: .6
}
.MsgBox>.MsgMain {
	position: relative;
	-webkit-transform: translateZ(0);
	background-color: transparent;
	display: none
}
.MsgBox>.MsgMain.Show {
	display: block;
	left: 5%
}
.MsgBox>.MsgMain.Show>.MsgMainBox {
	animation: MsgBoxPopup .25s ease-in-out;
	-moz-animation: MsgBoxPopup .25s ease-in-out;
	-webkit-animation: MsgBoxPopup .25s ease-in-out;
	-o-animation: MsgBoxPopup .25s ease-in-out;
}
.MsgBox>.MsgMain>.MsgMainBox {
	border: 0 #000 solid;
	z-index: 1002;
	width: 90%;
	height: 20rem;
	top: 10rem;
	background-color: #e1e1e1;
	border-radius: .6rem;
	position: relative
}
.MsgBox>.MsgMain>.MsgMainBox>.TopBar {
	border-bottom: .2rem #f80 solid;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #f80;
	padding-left: 1rem
}
.MsgBox>.MsgMain>.MsgMainBox>.Content {
	border: 0 #f80 solid;
	height: 10rem;
	font-size: 1.4rem;
	color: #000;
	margin: 1rem 1rem
}
.MsgBox>.MsgMain>.MsgMainBox>.Content table {
	height: 10rem
}
.MsgBox>.MsgMain>.MsgMainBox>.Button {
	border: 0 #f80 solid;
	height: 4rem;
	line-height: 4rem;
	text-align: center
}
.MsgBtnBox {
	width: 100%;
	font-size: 1.6rem;
	color: #fff;
	background: #f80;
	font-weight: bold;
	border-bottom-left-radius: .6rem;
	border-bottom-right-radius: .6rem
}
.MsgBtnBox:active {
	background-color: #945103
}
.MsgBox>.MsgMain.Show>.MsgConfirmBox {
	animation: MsgBoxPopup .25s ease-in-out;
	-moz-animation: MsgBoxPopup .25s ease-in-out;
	-webkit-animation: MsgBoxPopup .25s ease-in-out;
	-o-animation: MsgBoxPopup .25s ease-in-out;
}
.MsgBox>.MsgMain>.MsgConfirmBox {
	border: 0 #000 solid;
	z-index: 1002;
	width: 90%;
	height: 14rem;
	top: 25%;
	margin-top: -7rem;
	background: #e8e8e8;
	border-radius: .6rem;
	position: relative
}
.MsgBox>.MsgMain>.MsgConfirmBox>.TopBar {
	border-bottom: .2rem #f80 solid;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.6rem;
	font-weight: bold;
	color: #f80;
	padding-left: 1rem
}
.MsgBox>.MsgMain>.MsgConfirmBox>.Content {
	border-bottom: 1px #b6b6b6 solid;
	height: 10rem;
	font-size: 1.4rem;
	color: #000;
	margin: 0 0;
	text-align: center;
	padding-top: 4rem
}
.MsgBox>.MsgMain>.MsgConfirmBox>.Content table {
	height: 10rem
}
.MsgBox>.MsgMain>.MsgConfirmBox>.Button {
	border: 0 #f80 solid;
	height: 4rem;
	line-height: 4rem;
	text-align: center
}
.MsgConfirmBtnL {
	border-right: 1px #b6b6b6 solid;
	width: 100%;
	font-size: 1.6rem;
	color: #2871cd;
	background: #e8e8e8;
	border-bottom-left-radius: .6rem
}
.MsgConfirmBtnL:active {
	background-color: #a7a4a4
}
.MsgConfirmBtnR {
	border-left: 0 #fff solid;
	width: 100%;
	font-size: 1.6rem;
	color: #2871cd;
	background: #e8e8e8;
	border-bottom-right-radius: .6rem
}
.MsgConfirmBtnR:active {
	background-color: #a7a4a4
}
.WeixinShareBox {
	border: 0 #000 solid;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	display: none;
	background-color: transparent;
	word-break: break-all
}
.WeixinShareBox .ShareBg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: #000;
	opacity: .6
}
.WeixinShareBox .ShareContent {
	width: 100%;
	height: auto;
	top: 0;
	position: relative
}
.WeixinDownloadBox {
	border: 0 #000 solid;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	display: none;
	background-color: transparent;
	word-break: break-all
}
.WeixinDownloadBox .DownloadBg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: #000;
	opacity: .6
}
.WeixinDownloadBox .DownloadContent {
	width: 100%;
	height: auto;
	top: 0;
	position: relative
}
.TopDownload {
	display: block;
	padding: 0 1rem
}
.TopUserArea {
	border: 0 #000 solid;
	width: 100%;
	height: 7rem;
	margin-top: -5.2rem;
	position: absolute;
	z-index: 10
}
.TopUserName {
	width: 20rem;
	height: 6rem;
	line-height: 6rem;
	font-size: 1.7rem;
	padding-right: 1rem;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right
}
.TopUserImg {
	border: 1px #dbdbdb solid;
	width: 7.4rem;
	height: 7.4rem;
	padding: .1rem;
	background: #fff
}
.TopUserImg img {
	border: 0 #fff solid;
	width: 7rem;
	height: 7rem;
}
.TopBgArea {
	width: 100%;
	height: auto
}
.TopBgArea img {
	display: block
}
.TopShadowBox {
	width: 100%;
	height: 3rem;
	position: absolute;
	z-index: 10;
	margin-top: -2.9rem;
	opacity: .2;
	background-image: -webkit-linear-gradient(top, #fff, #000)
}
#InputPage {
	margin-top: 0
}
.InputBgArea {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1
}
.InputBgArea img {
	display: block;
	min-height: 54%
}
.InputWenzi {
	width: 22.3rem;
	height: 3.5rem;
	margin: 0 auto;
	background: url("../images/wenzi.png?35") no-repeat 0 0;
	background-size: 100% 100%
}

.MiddleBar {
	border: 0 #e2e3de solid;
	width: 100%;
	height: auto;
	margin-top: 40px
}
input {
	border: 1px #e2e3de solid;
	border-radius: 2rem;
	width: 70%;
	height: 3rem;
	font-size: 1.2rem;
	color: #fff;
	padding: 0 7%;
	margin-left: 15%;
	background: url("../images/inbg.png?35") no-repeat 0 0;
	background-size: auto auto
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #fff
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #fff
}
.InputVline {
	width: .1rem;
	height: 1.6rem;
	margin: 0 auto;
	background: url("../images/vline.png?35") no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	margin-left: 20%;
	margin-top: .7rem
}
.InputAdd {
	width: 1.7rem;
	height: 1.7rem;
	margin: 0 auto;
	background: url("../images/add.png?35") no-repeat 0 0;
	background-size: 100% 100%;
	position: absolute;
	margin-left: 75%;
	margin-top: .6rem
}
.SubmitBtn {
	width: 18rem;
	height: 3rem;
	margin: .5rem auto;
	background: url("../images/submit.png?35") no-repeat 0 0;
	background-size: 100% 100%
}
.CommentListArea {
	width: 100%;
	height: auto;
	margin: 2rem auto;
	display: table
}
.CommentListArea li {
	list-style: none;
	display: list-item;
	border-bottom: 1px solid #ececec;
	width: 100%;
	height: auto;
	padding: 1.5rem .9rem;
	text-align: center;
	vertical-align: middle
}
.CommentUserImgWidth {
	width: 5.25rem
}
.CommentUserImg {
	width: 4.2rem;
	height: 4.2rem
}
.CommentUserImg img {
	border: 0 #666 solid;
	width: 4.2rem;
	height: 4.2rem
}
.CommentUserName {
	width: 20rem;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 1.3rem;
	color: #576b95;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	font-weight: bold
}
.CommentUserName span {
	color: #aaa;
	padding-left: 1rem
}
.CommentTxt {
	margin-top: .5rem;
	line-height: 1.7rem;
	font-size: 1.2rem;
	color: #000;
	padding-right: 1.55rem
}
.CommentXiangqing {
	font-size: 1.2rem;
	color: #576b95;
	text-align: left
}
#CommentXiangqingId {
	position: relative;
	margin-left: 2rem
}
.dotRound {
	height: 2px;
	width: 2px;
	border-radius: 100%;
	position: absolute;
	z-index: -1;
	animation: sploosh 3s cubic-bezier(.165, .84, .44, 1) infinite;
	-moz-animation: sploosh 3s cubic-bezier(.165, .84, .44, 1) infinite;
	-webkit-animation: sploosh 3s cubic-bezier(.165, .84, .44, 1) infinite;
	-o-animation: sploosh 3s cubic-bezier(.165, .84, .44, 1) infinite;
	background: transparent;
	opacity: 0
}
@-webkit-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
@-moz-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
@-o-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
.CommentImgArea1 {
	width: 100%;
	height: auto;
	margin-top: 1rem
}
.CommentImgArea1 img {
	width: 100%;
	height: auto;
	display: inline
}
.CommentImgArea2 {
	width: 100%;
	height: auto;
	margin-top: 1rem
}
.CommentImgArea2 img {
	width: 70%;
	height: auto;
	display: inline
}
.CommentImgArea3 {
	width: 100%;
	height: auto;
	margin-top: 1rem
}
.CommentImgArea3 img {
	width: 7.4rem;
	height: 7.4rem;
	display: inline;
	margin-right: .4rem
}
.CommentTime {
	width: 6rem;
	height: 2rem;
	line-height: 2rem;
	margin-top: .3rem;
	float: left;
	font-size: 1.2rem;
	color: #aaa
}
.CommentDelete {
	width: 3rem;
	height: 2rem;
	line-height: 2rem;
	margin-top: .3rem;
	float: left;
	font-size: 1.2rem;
	color: #576b95
}
.CommentTopAndComBtn {
	width: 2rem;
	height: 1.5rem;
	margin-top: .3rem;
	float: right;
	background: url("../images/commentBtn.png?35") no-repeat 0 0;
	background-size: 100% 100%
}
.CommentTopBtnArea {
	width: 14rem;
	height: 3rem;
	float: right;
	margin-right: 1rem;
	background: #353a3d;
	padding-top: .5rem
}
.CommentTopBtnArea table {
	width: 100%;
	height: 2rem
}
.TopBtnImg {
	width: 1.2rem;
	height: 1.2rem
}
.TopBtnImg img {
	width: 1.2rem;
	height: 1.2rem
}
.TopBtnTxt {
	font-size: .8rem;
	color: #fff;
	margin-left: .5rem
}
.CommentTopAndComArea {
	width: 100%;
	height: auto;
	background: #f3f3f4;
	margin-top: 3.4rem;
	padding-bottom: .5rem
}
.CommentTriangleUp {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefef;
	position: absolute;
	margin-left: 15px;
	margin-top: -10px
}
.CommentTopArea {
	border-bottom: 1px #dfdfe0 solid;
	width: 100%;
	height: auto;
	padding: .5rem 1rem
}
.CommentTopNoCommentArea {
	border-bottom: 0 #dfdfe0 solid;
	width: 100%;
	height: auto;
	padding: .5rem 1rem 0 1rem
}
.CommentTopBtn {
	width: 1rem;
	height: .92rem;
	margin-top: .2rem;
	float: right;
	background: url("../images/top.png?35") no-repeat 0 0;
	background-size: 100% 100%
}

.CommentTopUserName {
	border: 0 #000 solid;
	width: 20rem;
	line-height: 1.5rem;
	font-size: 1.2rem;
	color: #576b95;
	padding-left: .5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left
}
.CommentComArea {
	width: 100%;
	height: auto;
	padding-top: .5rem
}
.CommentComArea li {
	list-style: none;
	display: list-item;
	border-bottom: 0 solid #c4c1c6;
	width: 100%;
	height: auto;
	padding: 0 1rem;
	text-align: left;
	vertical-align: middle;
	color: #576b95;
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-bottom: .3rem
}
.CommentComArea li span {
	color: #323232
}
.BtnArea {
	width: 100%;
	height: 3rem;
	margin: 2rem 0 .5rem 0;
	position: relative;
	font-size: 0px;
	text-indent: 0;
}
.BtnArea .BtnReplay {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 0 1rem;
	box-sizing: border-box;
	height: 3.2rem;
	margin: 0 auto;
	margin-bottom: .5rem;
	/*background: url("../images/replaybtn.png?35") no-repeat 0 0;*/
	background-size: 100% 100%
}
.BtnArea .BtnReplay a, .BtnArea .BtnShare a {
	position: relative;
	display: block;
	height: 3rem;
	width: 100%;
	background: #993636;
	font-weight: bold;
	color: #fff;
	border-radius: 3rem;
	font-size: 1.3rem;
	line-height: 3rem;
	text-align: center;
}

.BtnArea .BtnShare {
	display: inline-block;
	float: right;
	width: 50%;
	padding: 0 1rem;
	box-sizing: border-box;
	height: 3.2rem;
	margin: 0 auto;
	margin-bottom: .5rem;
	/*background: url("../images/sharebtn.png?35") no-repeat 0 0;*/
	background-size: 100% 100%
}
.BtnArea .BottomD {
	font-size: 1rem;
	color: #993636;
	text-align: center;
	margin-bottom: .5rem
}
.Tuiguang {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 100%;
	margin-left: -2.5rem;
	/*background: url("../images/tuiguang.png?35") no-repeat 0 0;*/
	background-size: 100% 100%
}
.Download0Img1 {
	width: 23.1rem;
	height: 4.2rem;
	margin: 0 auto;
	background: url("../images/down0_1.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download0Img2 {
	width: 18.1rem;
	height: 36.25rem;
	margin: 0 auto;
	background: url("../images/down0_2.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download0Img3 {
	width: 21.9rem;
	height: 2.5rem;
	position: fixed;
	left: 50%;
	margin-left: -10.95rem;
	bottom: 5rem;
	background: url("../images/down0_3.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.downLoad0Btn {
	width: 14rem;
	height: 3rem;
	position: fixed;
	left: 50%;
	margin-left: -7rem;
	bottom: 1rem;
	border-radius: .3rem;
	text-align: center;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #fff;
	background: #ff6c7b
}
.Download1Img1 {
	width: 20.5rem;
	height: 3.8rem;
	margin: 0 auto;
	background: url("../images/down1_1.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download1Img2 {
	width: 17.15rem;
	height: 34.65rem;
	margin: 0 auto;
	background: url("../images/down1_2.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download1Img3 {
	width: 20.4rem;
	height: 2.5rem;
	position: fixed;
	left: 50%;
	margin-left: -10.2rem;
	bottom: 5rem;
	background: url("../images/down1_3.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.downLoad1Btn {
	width: 14rem;
	height: 3rem;
	position: fixed;
	left: 50%;
	margin-left: -7rem;
	bottom: 1rem;
	border-radius: .3rem;
	text-align: center;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #fff;
	background: #77c91f
}
.Download2Img1 {
	width: 20rem;
	height: 15.2rem;
	margin: 0 auto;
	background: url("../images/down2_1.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download2Img2 {
	width: 25.8rem;
	height: 1.8rem;
	position: absolute;
	left: 50%;
	margin-left: -12.9rem;
	bottom: 14rem;
	background: url("../images/down2_2.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download2Img3 {
	width: 13.2rem;
	height: 3.9rem;
	position: absolute;
	left: 50%;
	margin-left: -6.6rem;
	bottom: 6rem;
	background: url("../images/down2_3.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download3Bg {
	width: 100%;
	height: 100%;
	background: url("../images/down3_bg.png?35") 0 50% no-repeat;
	background-size: 100% auto;
	position: relative
}
.Download3Img1 {
	width: 22.3rem;
	height: 4.7rem;
	margin: 2rem auto;
	background: url("../images/down3_1.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download3Img2 {
	width: 19.9rem;
	height: 2.2rem;
	position: absolute;
	left: 50%;
	margin-left: -9.95rem;
	bottom: 8.8rem;
	background: url("../images/down3_2.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
.Download3Img3 {
	width: 11.9rem;
	height: 4.8rem;
	position: absolute;
	left: 50%;
	margin-left: -5.95rem;
	bottom: 2rem;
	background: url("../images/down3_3.png?35") 0 0 no-repeat;
	background-size: 100% 100%
}
@-moz-keyframes MsgBoxBg {
	0% {
		opacity: 0
	}
	100% {
		opacity: .5
	}
}
@-webkit-keyframes MsgBoxBg {
	0% {
		opacity: 0
	}
	100% {
		opacity: .5
	}
}
@-o-keyframes MsgBoxBg {
	0% {
		opacity: 0
	}
	100% {
		opacity: .5
	}
}
@keyframes MsgBoxBg {
	0% {
		opacity: 0
	}
	100% {
		opacity: .5
	}
}
@-moz-keyframes MsgBoxPopup {
	0% {
		opacity: 0;
		transform: scale3d(1.1, 1.1, 1)
	}
	90% {
		transform: scale3d(.99, .99, 1)
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1)
	}
}
@-webkit-keyframes MsgBoxPopup {
	0% {
		opacity: 0;
		transform: scale3d(1.1, 1.1, 1)
	}
	90% {
		transform: scale3d(.99, .99, 1)
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1)
	}
}
@-o-keyframes MsgBoxPopup {
	0% {
		opacity: 0;
		transform: scale3d(1.1, 1.1, 1)
	}
	90% {
		transform: scale3d(.99, .99, 1)
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1)
	}
}
@keyframes MsgBoxPopup {
	0% {
		opacity: 0;
		transform: scale3d(1.1, 1.1, 1)
	}
	90% {
		transform: scale3d(.99, .99, 1)
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1)
	}
}
@-moz-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
@-webkit-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
@-o-keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}
@keyframes sploosh {
	0% {
		box-shadow: 0 0 0 0 #3bbded;
		background: #3bbded;
		opacity: .7
	}
	100% {
		box-shadow: 0 0 0 30px #3bbded;
		background: #3bbded;
		opacity: 0
	}
}

.CommentImgArea2 {
	clear: both;
	overflow: hidden;
}
.CommentImgArea2 .spec1, .CommentImgArea2 .spec2 {
	display: block;
	float: left;
	width: 45%;
	box-sizing: border-box;
}
.spec1 {
	margin-right: 5px;
}
.spec2 {
	margin-left: 5px;
}
