{template 'common/header'}

<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">参数设置</a></li>
 
</ul>
<div class="panel panel-success">
  <div class="panel-heading">参数设置</div>
  <div class="panel-body">
    <form class="form-horizontal" action="" method="post">
				
								<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">引导关注URL</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" value="{$settings['guanzhu']}" name="guanzhu">
						<span class="help-block">使用一篇文章链接即可,可以用微信文章</span>
					</div>
				</div>														
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <input name="token" type="hidden" value="{$_W['token']}" />
  <button type="submit" class="btn btn-success col-sm-2" name="submit" value="提交"><i class="fa fa-check-circle"></i> 提交</button>
  </div>
  </div>
  
  	<?php if($_W['isfounder']) { ?>
		 <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
  <a class="btn btn-danger col-sm-6" id="ver" href="javascript:void(0);" target="_blank"><span id='v'></span></a>
  </div>
  </div>
  						<?php 
$vs= $this->module['version'];
?>
<script type="text/javascript">
$(function(){
//&callback=?
   $.getJSON("http://weixin10.sinaapp.com/api2.php?op=api_mod&id=18&callback=?", function(data) {
   var v = "{$vs}";
   var t  = new Date(data.createtime * 1000).toLocaleString().substr(0,10);
   document.getElementById("ver").href=data.url;
   if( parseFloat(data.version) > parseFloat(v) ){
 document.getElementById("v").innerHTML =	"发现新版本:"+data.version+" 更新时间:"+t;
  document.getElementById("v").style.color = "white";
 }else{
 document.getElementById("v").innerHTML ="已经是最新版: "+v;
 }
    });
})
</script>
<?php } ?>

</form>
  </div>
</div>

</div>

{template 'common/footer'}