{template 'common/header'}
<ul class="nav nav-tabs">

    <li class="active"><a href="{php echo $this->createWebUrl('setting', array('op'=>'pay'));}">支付设置</a></li>

    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'limit'));}">红包控制</a></li>
    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'poster'));}">海报设置</a></li>
    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'banner'));}">广告设置</a></li>

</ul>

<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$item['id']}"/>
        <input type="hidden" name="c" value="site"/>
        <input type="hidden" name="a" value="entry"/>
        <input type="hidden" name="m" value="yike_red_packet"/>
        <input type="hidden" name="do" value="setting"/>
        <input type="hidden" name="op" value="pay"/>
        <div class="panel panel-default">
            <div class='panel-body'>

                <div class='alert alert-info'>
                    在开启以下支付方式前，请到 <a href='{php echo url('profile/payment')}'>支付选项</a> 去设置好参数。
                </div>

                <div id='certs'>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">CERT证书文件</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="hidden" name="pay[weixin_cert]" value="{$set['pay']['weixin_cert']}"/>
                            <input type="file" name="weixin_cert_file" class="form-control"/>
                            <span class="help-block">
                                {if !empty($sec['cert'])}
                                <span class='label label-success'>已上传</span>
                                {else}
                                <span class='label label-danger'>未上传</span>
                                {/if}
                                下载证书 cert.zip 中的 apiclient_cert.pem 文件</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">KEY密钥文件</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="hidden" name="pay[weixin_key]" value="{$set['pay']['weixin_key_file']}"/>
                            <input type="file" name="weixin_key_file" class="form-control"/>
                            <span class="help-block">
                               {if !empty($sec['key'])}
                                <span class='label label-success'>已上传</span>
                                {else}
                                <span class='label label-danger'>未上传</span>
                                {/if}
                                下载证书 cert.zip 中的 apiclient_key.pem 文件
                            </span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">ROOT文件</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="hidden" name="pay[weixin_root]" value="{$set['pay']['weixin_root_file']}"/>
                            <input type="file" name="weixin_root_file" class="form-control"/>
                            <span class="help-block">
                              {if !empty($sec['root'])}
                                <span class='label label-success'>已上传</span>
                                {else}
                                <span class='label label-danger'>未上传</span>
                                {/if}
                                下载证书 cert.zip 中的 rootca.pem 文件
                            </span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"  />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{template 'common/footer'}
