{template 'common/header'}
<ul class="nav nav-tabs">

    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'pay'));}">支付设置</a></li>

    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'limit'));}">红包控制</a></li>

    <li class="active"><a href="{php echo $this->createWebUrl('setting', array('op'=>'poster'));}">海报设置</a></li>
    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'banner'));}">广告设置</a></li>

</ul>

<div class="main">
    <div class="panel panel-default">
        <div class='panel-body'>
            <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$item['id']}"/>
                <input type="hidden" name="c" value="site"/>
                <input type="hidden" name="a" value="entry"/>
                <input type="hidden" name="m" value="yike_red_packet"/>
                <input type="hidden" name="do" value="setting"/>
                <input type="hidden" name="op" value="poster"/>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">海报图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('thumb', $set['poster'])}
                        <span class='help-block'>建议尺寸:640 * 1008</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"/>
                        <input type="hidden" name="token" value="{$_W['token']}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{template 'common/footer'}
