{template 'common/header'}
{if $rid!=''}{template 'web/nav'}{/if}
{if $op == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form1">
	<input type="hidden" name="parentid" value="{$parent['id']}" />
		<div class="panel panel-default">
			<div class="panel-heading">分组详细设置</div>
			<div class="panel-body">
				{if !empty($parentid)}
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">上级分组</label>
					<div class="col-sm-8 col-xs-12">
						<div class="form-control-static">{$parent['title']}</div>
					</div>
				</div>
				{/if}
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">排序</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="displayorder" class="form-control" value="{$category['displayorder']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">分组名称</label>
					<div class="col-sm-8 col-xs-12">
						<input type="text" name="title" class="form-control" value="{$category['title']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">分组描述</label>
					<div class="col-sm-8 col-xs-12">
						<textarea name="description" class="form-control" cols="70">{$category['description']}</textarea>
					</div>
				</div>
			</div>
		</div>
	<div class="form-group">
		<div class="col-sm-12">
			<input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</div>
	</form>
</div>
<script type="text/javascript">
<!--
	$("#form1").submit(function(){
		if($("input[name='title']").val() == '') {
			util.message('请输入分组名称', '', 'error');
			return false;
		}
	});
//-->
</script>
{elseif $op == 'display'}
<div class="main">
	<div class="category">
		<form action="" method="post" onsubmit="return formcheck(this)">
		<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width:15%; text-align:center;">显示顺序</th>
					<th style="width:60%;">分组名称</th>
					<th style="width:25%; text-align:center">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $category $row}
				<tr>
					<td class="text-center"><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
					<td class="text-left"><div style="height:30px;line-height:30px">{$row['title']}&nbsp;&nbsp;{if empty($row['parentid'])}<a href="{php echo $this->createWeburl('tags', array('op'=>'post', 'parentid' => $row['id'],'rid'=>$rid))}" title="添加子分组"><i class="fa fa-plus"></i> 添加子分组</a>{/if}</div></td>
					<td class="text-right" style="position:relative;">
						<a href="{php echo $this->createWebUrl('tags', array('op'=>'post','rid'=>$rid,'id' => $row['id']));}" title="编辑">编辑</a>&nbsp;-&nbsp;
						<a href="{php echo $this->createWebUrl('tags', array('op'=>'delete','rid'=>$rid,'id' => $row['id']));}" onclick="return confirm('确认删除此分组吗？');return false;" title="删除">删除</a>
					</td>
				</tr>
				{loop $children[$row['id']] $row}
				<tr>
					<td class="text-center"><input type="text" class="form-control" name="displayorder[{$row['id']}]" value="{$row['displayorder']}"></td>
					<td class="text-left"><div style="padding-left:50px;height:30px;line-height:30px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">{$row['title']}&nbsp;&nbsp;{if empty($row['parentid'])}<a href="{php echo $this->createWeburl('tags', array('op'=>'post', 'parentid' => $row['id'],'rid'=>$rid))}"><i class="fa fa-plus" title="添加子分组"></i></a>{/if}</div></td>
					<td class="text-right" style="position:relative;">
						<a href="{php echo $this->createWebUrl('tags', array('op'=>'post','rid'=>$rid,'id' => $row['id'], 'parentid' => $row['parentid']));}" title="编辑">编辑</a>&nbsp;-&nbsp;
						<a href="{php echo $this->createWebUrl('tags', array('op'=>'delete','rid'=>$rid,'id' => $row['id']));}" onclick="return confirm('确认删除此分组吗？');return false;" title="删除">删除</a>
					</td>
				</tr>
				{/loop}
			{/loop}
				<tr>
					<td colspan="4">
						<a href="{php echo $this->createWeburl('tags', array('op'=>'post','rid'=>$rid))}"><i class="fa fa-plus-circle" title="添加新分组"></i> 添加新分组</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>
			<div class="form-group col-sm-12">
				<input name="submit" type="submit" class="btn btn-primary col-lg-1" value="提交">
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</form>
	</div>
</div>

{elseif $op == 'tags'}
<div class="main">
	<div class="category">
		<form action="index.php" method="get">
			<input type="hidden" name="i" value="{$uniacid}" />
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="{$_GPC['m']}" />
			<input type="hidden" name="do" value="{$_GPC['from']}" />
			<input type="hidden" name="rid" value="{$rid}" />
		<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>当前分组： <span >{$tagname}</span><span class="pull-right"><a href="{php echo $this->createWebUrl($_GPC['from'], array('rid' => $rid))}" class="btn  btn-danger" style="background-color: #e2216f;  font-size: 12px;">全部分组</a></span></th>
				</tr>
			</thead>
			<tbody>
			<style type="text/css">
			li {    list-style: none;}
			</style>
			
				<tr>
					<td class="text-left">
						{php echo tpl_form_field_category_2level('category', $parent, $children, $ptag, $tagid)}
					</td>
				</tr>
			
			</tbody>
		</table>
		</div>
		</div>
			<div class="form-group col-sm-12">
				<input name="submit" type="submit" class="btn btn-primary col-lg-1" value="提交">
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</form>
	</div>
</div>
{/if}
{template 'web/_footer'}
