{template 'common/header'}
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript">
    sharedata = {
        title: "{$share['topic_title']}",
        desc: "{$share['topic_desc']}",
        imgUrl: "{$share['topic_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
<html>
<body style="background-color:#ededed">
<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="width:70%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav"  >
        <li><a href="{php echo $this->createMobileUrl('ptjindex');}"><span class="glyphicon glyphicon-home"></span>兼职广场</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left:50%">
  <div class="container-fluid" style="width:70%">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li><a href="{php echo $this->createMobileUrl('ptjmyinfo');}"><span class="glyphicon glyphicon-user"></span>个人中心</a></li>  
      </ul>
  </div><!-- /.container-fluid --> 
</nav>
{if $flag==2}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <a href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}" type="button" style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></a>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:white">详情</p> 
      </ul>
      </div>    
  </div>
</nav>
<br/>
<br/>
{else}
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <a href="{php echo $this->createMobileUrl('ptjindex');}" type="button"  style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></a>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:white">详情</p> 
      </ul>
      </div>    
  </div>
</nav>
<br/>
<br/>
{/if}
<div style="background:white;;margin-top: 30px;margin-bottom:5px">
<br/>
<div style="margin-top:-20px;border-style:solid; border-width:1px; border-color:#D3D3D2">
{if $Ownerinfo['cname']}
<a href="{php echo $this->createMobileUrl('ptjownerindex',array('ground'=>$ground));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" style="margin-top:-10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$name} </a>
{else}
<a href="{php echo $this->createMobileUrl('ptjworkerindex',array('ground'=>$ground,'wopenid'=>$oid,'entry'=>'details'));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" style="margin-top:-10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{$name} </a>
{/if}
</div>
</div>
<div style="font-size:20px">
&nbsp;&nbsp;{$ground['title']}
</div>
<!--information  -->
<div class="jumbotron" style="background-color:#fff">

<p style="font-size:15px"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布时间:{$ground['nowtime']}</p>
<p style="font-size:15px"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作地点:{$ground['workplace']}</p>
<!--p style="font-size:15px"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作时间:{$ground['date']}至{$ground['stopdate']}</p-->
  <p style="font-size:15px"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪资待遇:{$ground['salary']}元/天</p>
  {if $ground['exists']}
   <p style="font-size:15px"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已报名:{$ground['exists']}/{$ground['mount']} 人</p> 
   {else if $exists!=NULL}
   <p style="font-size:15px"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已报名:{$exists}/{$ground['mount']} 人</p> 
   {else}
   <p style="font-size:15px"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已报名:0/{$ground['mount']} 人</p> 
   {/if}
{if $ground['haslimit']=='No'}  
   <p style="font-size:15px"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作要求:男女不限</p>
   {else if $ground['haslimit']=='仅限男生'}
    <p style="font-size:15px"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作要求:只限男生</p>
    {else if $ground['haslimit']=='仅限女生'}
     <p style="font-size:15px"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工作要求:只限女生</p>   
{/if}   
 <p style="font-size:15px"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;具体内容:{$ground['content']}</p>
 {if $isworker==1 && $commitFlag==2||$commitFlag==1}
  <div style="font-size:15px;color:red" ><span class="glyphicon glyphicon-phone" style="color:red"></span>&nbsp;&nbsp;&nbsp;&nbsp;【新增】联系电话:{$ground['phone']}</div>
  <br/>
    {/if}
  <p style="font-size:15px"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招聘状态:</p>
  {if !$commitFlag}  
    <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布招聘&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"style="color:red" ></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未报名&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未录取</div>
    {/if}  
  {if $commitFlag==1}
  <div style="font-size:15px"><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布招聘&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已报名&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:red"></span><span class="glyphicon glyphicon-remove-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;未录取</div>
  {/if}
  {if $commitFlag==2}
    <div style="font-size:15px" ><span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;发布招聘&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已报名&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok-sign" style="color:#00dd00"></span>&nbsp;&nbsp;&nbsp;已录取</div>
   {/if}
 
</div>

{if $isworker==1 AND !$commitFlag}
<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:-20px;height: 60px;">

  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2">
    <a type="button"  href="{php echo $this->createMobileUrl('Ptjdetails',array('button'=>'on','ground'=>$ground,'openid'=>$openid));}" class="btn btn-default text-center" >
       我要报名
    </a>
    </div>
  </div>
</div>
{else if $isworker==3}
<div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:-20px;height: 60px;">

  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2 ">

    <a type="button" href="{php echo $this->createMobileUrl('ptjworkerinfo',array('ground'=>$ground,'exists'=>$exists));}" class="btn btn-default">查看求职者信息<span class="glyphicon glyphicon-chevron-right" style="margin-left:65%"></span></a>
    </div>
  </div>

</div>
  {if !$ifprivacy}
<div style="margin-top:20px">
<a href="{php echo $this->createMobileUrl('ptjdetails',array('top'=>'on','ground'=>$ground));}" type="button" class="btn btn-success text-center" style="width:100%">我要置顶</a>
</div>
{/if}
{else if $isworker==2}


{else if $isworker==4}
<div style="margin-top:20px">
<a href="#" type="button" class="btn btn-danger text-center" style="width:100%">对不起,您的账户已被小黑屋~~请与管理员联系.</a>
</div>
{/if}

 {if !$user}
 <div class="btn-group btn-group-justified" role="group" aria-label="报名" style="margin-top:-20px;height: 60px;">
  <div class="btn-group " role="group" style="background-color:#fff">
    <div style="border-style:solid; border-width:1px;border-color:#D3D3D2">
    <a type="button"  onclick="alert('先去完善信息咯,右下个人中心->完善信息,好走,不谢~~~~~')" class="btn btn-default text-center" >
       我要报名
    </a>
    </div>
  </div>
</div>
 {/if}
  <!--div class="btn-group danger" role="group">
    <a type="button" class="btn btn-default btn btn-danger" data-toggle="modal" data-target="#jbmodal">我要举报</a>
  </div>
  <div class="modal fade" id="jbmodal" tabindex="-1" role="dialog" aria-labelledby="jbmodalLabel" style="margin-top:200px">
  <div class="modal-dialog jbmodal">
    <div class="modal-title">
     <h3 class="text-danger" style="text-align:center ;">举&nbsp;报&nbsp;结&nbsp;果</h3>
     <br/>
     </div>
    <div class="modal-content">
     <h3 class="text-danger" style="text-align:center ; ">O(∩_∩)O 举报成功啦!<br/><br/>我们会处理你的请求哒~~</h3>
     <br/>
     <br/>
     <br/>
    </div>
  </div>
</div-->



<br/>
<br/>
<br/>
<br/>
<br/>

</body>

<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#flag').click(function(){
			$.post("{php echo $this->createMobileUrl('Ptjdetails');}",{button:'on'},function(){
				alert("回调成功");
			});
		}
		);	
});
</script>

</html>
{template 'common/footer'}