{template 'common/header'}

<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <a href="{php echo $this->createMobileUrl('ptjmypost',array('ground'=>$ground));}" type="button" style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></a>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="color:white;font-size:20px">再看就把你吃掉!</p> 
      </ul>
      </div>    
  </div>
</nav>

<div class="jumbotron" style="width:100%;background:#11EEB7;margin-top:60px">
        <h2 style="color:red">欢迎来到施工现场 (扑哧扑哧)喂,骚年,请带上你的安全帽!!</h2>  
</div>