{template 'common/header'}
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript">
    sharedata = {
        title: "{$share['center_title']}",
        desc: "{$share['center_desc']}",
        imgUrl: "{$share['center_imgurl']}",
        link:'',
        success: function(){
          alert('分享成功!');
        }
      };
</script>
<html> 
    <link href="http://libs.baidu.com//bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_normalize.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_styles.css" />
	<link rel="stylesheet" type="text/css" href="{$_W['siteroot']}app/resource/css/ptj_default.css" />  
<body style="background-color:#ededed">

<nav class="navbar navbar-default navbar-fixed-bottom" style="width:50%">
  <div class="container-fluid" style="background-color:white">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="text-center"><a href="{php echo $this->createMobileUrl('ptjindex');}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
  
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left:50%">
  <div class="container-fluid" style="background-color:white">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li class="text-center" ><a href="#" style="color:#3FBD3A"><span class="sr-only"></span><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
    <div>   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="font-size:20px;color:#fff">个人中心</p> 
      </ul>
      </div>    
  </div>
</nav>

<div class="jumbotron" style="width:100% ;margin-bottom: 30px;margin-top: -50;margin-top: -50px;padding-bottom: 20px;" >
<div class="row" style="margin-top:30%">
  <div class="col-xs-6 col-md-3" style="width:40%">
      <img src="{php echo $src}" style="width:90px; height:90px; border-radius:50px; ">
  </div>
</div>

{if !$user}
     {if $waiting}
<div >
<div style="margin-top:-90px;margin-left:45%">
<p>欢迎你,{$nickname}</p>
</div>
<a type="button" href="{php echo $this->createMobileUrl('ptjperfect');}" class="btn btn-danger" style="font-size:15px;margin-left:45%;">审核中...</a>
</div>  

	{else}
<div >
<div style="margin-top:-90px;margin-left:45%">
<p>欢迎你,{$nickname}</p>
</div>
<a type="button" href="{php echo $this->createMobileUrl('ptjperfect');}" class="btn btn-primary" style="font-size:15px;margin-left:45%;">完善信息</a>
</div>
   {/if}
{else}
   {if $isworker==1}
   <div style="margin-top:-70px;">
<p  style="font-size:15px;margin-left:45%;">个人:{$user['name']}</p>
<p  style="font-size:15px;margin-left:45%;">ID:{$user['phone']}</p>
</div>
   {else if $isworker==2}
    <div style="margin-top:-70px;">
<p  style="font-size:15px;margin-left:45%;">企业:{$user['cname']}</p>
<p  style="font-size:15px;margin-left:45%;">ID:{$user['phone']}</p>
   {else if $isworker==3}
   <div style="margin-top:-70px;">
<p  style="font-size:15px;margin-left:45%;">管理员:{$user['name']}</p>
<p  style="font-size:15px;margin-left:45%;">ID:{$user['phone']}</p>
</div>
     {else if $isworker==4}
	   <div style="margin-top:-70px;">
<p  style="font-size:15px;margin-left:45%;">小黑屋:{$user['name']}</p>
<p  style="font-size:15px;margin-left:45%;">ID:{$user['phone']}</p>
</div> 
   {/if}
{/if}
</div>

</div>
{if $isworker==1 OR $isworker==3}
<div style="margin-left:5%;width:90%;background:#fff">

   <a href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'worker'));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="{php echo $this->createMobileUrl('ptjpay',array('credit'=>$credit));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分<span style="margin-left:45%">{$credit}</span></a> 
<hr style=" margin-top: 0px;margin-bottom: 0px;">
   <a href="http://mp.weixin.qq.com/s?__biz=MzA3ODM4MTU2Nw==&mid=224399115&idx=1&sn=b4ed0d1efe0b07b2514c67f4b06e1df5#rd" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" ><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
 
</div>
{elseif $isworker==2}
<div style="margin-left:5%;width:90%;background:#fff">
    <a href="{php echo $this->createMobileUrl('ptjmodel',array('id'=>'owner'));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
      <a href="{php echo $this->createMobileUrl('ptjpay',array('credit'=>$credit));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的积分<span style="margin-left:45%">{$credit}</span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="{php echo $url}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">  
</div>
{elseif $isworker==4}
<div style="margin-left:5%;width:90%;background:#fff">
    <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" onclick="alert('还在小黑屋里呢~~')"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的<span class="glyphicon glyphicon-lock" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block" onclick="alert('还在小黑屋里呢~~')"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-lock" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
      <a href="{php echo $this->createMobileUrl('ptjpay',array('credit'=>$credit));}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的积分<span style="margin-left:45%">{$credit}</span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="{php echo $url}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">  
</div>
{else}
<div style="margin-left:5%;width:90%;background:#fff">

   <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block " onclick="alert('请先完善信息哦!')"><span class="glyphicon glyphicon-list-alt "></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我发布的<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block " onclick="alert('请先完善信息哦!')"><span class="glyphicon glyphicon-heart "></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的消息<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
   <a href="#" style="font-size:15px;color:black" type="button" class="btn-lg btn-block " onclick="alert('请先完善信息哦!')"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于积分<span style="margin-left:45%">{$credit}</span></a> 
<hr style=" margin-top: 0px;margin-bottom: 0px;">
   <a href="{php echo $url}" style="font-size:15px;color:black" type="button" class="btn-lg btn-block"><span class="glyphicon glyphicon-align-center"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能介绍<span class="glyphicon glyphicon-chevron-right" style="margin-left:50%"></span></a>
<hr style="
    margin-top: 0px;
    margin-bottom: 0px;
">
 
</div>
{/if}
<br/>
<br/>
{if $bottom}
<p class="text-center"><a href="{php echo $bottom['linkURL']}">{$bottom['adminLable']}</a></p>
{/if} 
<br/>
<br/>
<br/>

</body>

<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript">
function confirm_disp(){
	     var r=confirm("真的要撤销咩/(ㄒoㄒ)/~~")
	     
	    if(r==true){
	      location.href="{php echo $this->createMobileUrl('ptjmyinfo',array('undowker'=>'on','myworkerbtn'=>'on'));}"
	      //尝试post
	    }   
	    else{
	    	return false;
	    }
}
</script>
</html>

{template 'common/footer'}

