{template 'common/header'}
<html>
<body style="background-color:#ededed">
<nav class="navbar navbar-default navbar-fixed-top" style="background:#00b26d">
   <div class="container-fluid">
   <div style="width:30%;margin-top:10px">
    <a href="{php echo $this->createMobileUrl('ptjindex',array('ground'=>$ground));}" type="button" style="color:white;font-size:20px"><span class="glyphicon glyphicon-chevron-left"></span><b>&nbsp;返回</b></a>
    </div> 
    <div style="margin-top:-36px">   
      <ul class="nav navbar-nav" style="text-align:center">
        <p style="color:white;font-size:20px">发布兼职</p> 
      </ul>
      </div>    
  </div>
</nav>

<form class="form-horizontal" style="margin-top:100px;margin-left:10%" action="{php echo $this->createMobileUrl('ptjpostinfo',array('postbtn'=>'on'));}" method="post">

    <div class="form-group">
        <label for="Name" class="control-label col-xs-5" style="">发布标题</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="Name" name="Ptjpostinfo[title]" placeholder="工作标题...">
        </div>
    </div>
    
    <div class="form-group">
        <label for="Age" class="control-label col-xs-5" style="">工作地点</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="Age" name="Ptjpostinfo[wkplace]" placeholder="工作地点...">
        </div>
    </div>
  
    <div class="form-group">
        <label for="Salary" class="control-label col-xs-5" style="">薪资待遇</label>
        <div class="col-xs-8 input-group" style="margin-left:15px">
            <input type="text" class="form-control" id="salary" name="Ptjpostinfo[salary]" placeholder="工资.....">
                        <span class="input-group-addon">元/天</span>
        </div>
    </div>
    
	<!--div class="form-group">
        <label for="content" class="control-label col-xs-5" style="">兼职开始时间</label>
        <div class="col-xs-9" >
            <input type="text" class="form-control" id="startdate" name="startdate" placeholder="兼职会在什么时候开始...">
        </div>
   </div-->
   
   <!--div class="form-group">
        <label for="content" class="control-label col-xs-5" style="">兼职结束时间</label>
        <div class="col-xs-9" >
            <input type="text" class="form-control" id="enddate" name="enddate" placeholder="兼职又会在什么时候结束...">
        </div>
   </div-->
	
	
    <div class="form-group">
        <label for="wktype" class="control-label col-xs-5" style="">兼职类型</label>
        <div class="col-xs-9" >
         <select  class="form-control" name="Ptjpostinfo[wktype]" placeholder="什么样的兼职...." id="wktype">
            <option value="cd">传单派发</option>
            <option value="jj">家教</option>
            <option  value="wm">外卖小哥</option>
             <option value="fwy">服务员</option>
             <option value="kf">客服</option>
              <option value="others">其他</option>           
           </select>
        </div>
    </div>
    
    <div class="form-group">
        <label for="Email" class="control-label col-xs-5" style="">招聘人数</label>
        <div class="col-xs-8 input-group" style="margin-left:15px">
            <input type="text" class="form-control" id="mount" name="Ptjpostinfo[mount]" placeholder="人数...">
            <span class="input-group-addon">人</span>
        </div>
        
    </div>
   

   

	
<div class="form-group">
            <label for="Name" class="control-label col-xs-7" style="">工作要求</label>

   <label class="checkbox-inline col-xs-8" style="margin-left:8px">
      <input type="radio" name="Ptjpostinfo[limit]" id="No" 
         value="No" checked> 男女不限
   </label>
   <label class="checkbox-inline col-xs-8">
      <input type="radio" name="Ptjpostinfo[limit]" id="man" 
         value="man"> 只限男生
   </label>
      <label class="checkbox-inline col-xs-8">
      <input type="radio" name="Ptjpostinfo[limit]" id="Woman" 
         value="woman"> 只限女生
   </label>
 
</div>



    <div class="form-group">
             <label class="control-label col-xs-7" style="">置顶选项</label>
         <label class="checkbox-inline col-xs-8" style="margin-left:8px">
            	<input type="radio" name="Ptjpostinfo[privacy]" id="privacy" 
         value="1" > 置顶公告(消耗100积分)
   </label>  
       <label class="checkbox-inline col-xs-8" style="">
            	<input type="radio" name="Ptjpostinfo[privacy]" id="privacy" 
         value="0" checked> 不置顶公告(不消耗积分)
   </label>          
  </div>

	    <!--div class="form-group">
        <label for="content" class="control-label col-xs-5" >兼职开始时间</label>
            {php echo tpl_form_field_date('startdate',NULL,true);}
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-xs-5" >兼职结束时间</label>
            {php echo tpl_form_field_date('enddate',NULL,true);}
            <br/>
    </div-->

<div class="form-group">
        <label for="content" class="control-label col-xs-5" style="">具体要求</label>
        <textarea class="form-control" rows="8" id="content" name="Ptjpostinfo[content]" placeholder="具体说一说吧..." style="width:80%"></textarea>
        <!--div class="col-xs-9" >
            <input type="text" class="form-control" id="content" name="Ptjpostinfo[content]" placeholder="具体说一说吧...">
        </div-->
   </div>


        <div class="form-group">
        <div class="col-xs-offset-0 col-xs-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div> 
</form>
</body>
</html>