{template 'common/header'}
<html>

    <link href="http://libs.baidu.com//bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">      
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.js"></script>

<h2 class="lead text-center">老司机兼职平台后台用户管理</h2>
<table class="table table-responsive table-bordered">
 <tr>
   <th>用户姓名</th>
   <th>用户微信号</th>
   <th>用户电话</th>
   <th>用户地址</th>
   <th>用户身份</th>
   <th>企业名</th>
   <th>企业电话</th>
    <th>企业地址</th>
    <th>状态</th>
 </tr>
{loop $pinfo $k $v}
{if $v['sure']}
 <tr class="success">
   <td>{$v['name']}</td>
   <td>{$v['nickname']}</td>
   <td>{$v['phone']}</td>
   <td>{$v['location']}</td>
   {if $v['identity']=='worker'}
   <td>个人</td>
   {elseif $v['identity']=='owner'}
    <td>企业</td>  
    {elseif $v['identity']=='admin'}   
    <td>管理员</td>  
    {elseif $v['identity']=='xued'}   
    <td>小黑屋中..</td> 
    {/if}
    <td>{$v['cname']}</td>
    <td>{$v['cphone']}</td>
    <td>{$v['clocation']}</td>
       {if $v['identity']=='worker'}
    <td>
    <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'setadmin'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="设为管理员"><span class="glyphicon glyphicon-eye-open"></span></a>  
    <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'xu'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="嘘!"><span class="glyphicon glyphicon-volume-off"></span></a>    	
    </td>
    {else if $v['identity']=='owner'}
     <td>
    <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'redo'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="撤销企业权利(注:该操作不可逆!)"><span class="glyphicon glyphicon-remove-sign"></span></a>
	<a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'xu'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="嘘!"><span class="glyphicon glyphicon-volume-off"></span></a>    	
    </td>
    {else if $v['identity']=='admin'}
    <td>
     <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'redo'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="撤销管理员权利"><span class="glyphicon glyphicon-eye-close"></span></a>
	 <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'xu'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="嘘!"><span class="glyphicon glyphicon-volume-off"></span></a>    	
     </td>    
	{else if $v['identity']=='xued'}
	  <td>  
	 <a href="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id'],'rexu'=>'on'));}" type="button" class="btn btn-default" data-toggle="tooltip"  data-placement="top" title="回来吧"><span class="glyphicon glyphicon-volume-up"></span></a>    	
     </td>   	 
    {/if}
     </tr>
 {/if}
 
 {if !$v['sure']}
  <tr class="danger">
   <td>{$v['name']}</td>
   <td>{$v['nickname']}</td>
   <td>{$v['phone']}</td>
    <td>{$v['location']}</td>
   {if $v['identity']=='worker'}
   <td>个人</td>
   {else}
    <td>企业</td>  
      {/if}
    <td>{$v['cname']}</td>
    <td>{$v['cphone']}</td>
    <td>{$v['clocation']}</td>
 <td>
 <a type="button" class="btn btn-success CON" href="javascript:;" rel="{php echo $this->createWebUrl('ptjadmin',array('surebtn'=>1,'id'=>$v['id']));}">允许</a>
 <a type="button" class="btn btn-danger RID" href="javascript:;" rel="{php echo $this->createWebUrl('ptjadmin',array('id'=>$v['id']));}">拒绝</a>
  </td>
   </tr>
 <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="rsmodalLable">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">确定？</h4>
     </div>
    <div class="modal-body">
     <form method="post" action="" class="form-horizontal" role="form" id="confirmresf">
          <div class="form-group">
            <label for="recipient-name" class="control-label">确定要允许通过嘛！！！&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-down"></span></label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">允许通过!</button>
      </div>
 </form>
 </div>
 </div>
</div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="rsmodalLable">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">那就让他死个痛快吧!</h4>
     </div>
	  <div class="modal-body">
	   <form method="post" action="" class="form-horizontal" role="form" id="resf">
          <div class="form-group">
            <label for="recipient-name" class="control-label">理由写这里&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-down"></span></label>
            <input type="text" class="form-control" id="recipient-name" name="PtjAdmin[Res]" style="width:60%">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">怒戳驳回!</button>
      </div>
 </form>
 </div>
 </div>
</div>

 {/if}
{/loop}
</table>

<script>
//动态填充action值
require(['jquery', 'util'], function($, util){
		$('.RID').click(function(){
          var id=$(this).attr('rel');
				 $("#resf").attr('action',id);
				 $("#myModal").modal();
		});	
    $('.CON').click(function(){
         var id=$(this).attr('rel');
         $("#confirmresf").attr('action',id);
         $("#ConfirmModal").modal();
    }); 
});
</script>
</html>
