{template 'common/header'}
<script>//alert('{php echo $apply['apply_tid']}');</script>
<h2>#1 轮播图设置</h2>
<br/>
<blockquote>注:<br/>
1.优先级即表示图片的轮播顺序,相同优先级即系统自动排序(从“1”开始， “1”表示优先级最高， 默认为“1”).<br/>
2.照片要求格式为横版,最佳像素为320px * 180px.<br/>
3.照片建议不要存在微赞(服务器)端,原因你们懂得。<br/>
*若要存,请每次更改信息(优先级,是否显示)时,请再插入一遍图片~<br/>
4.加图文地址时请带上<code>http://</code>或者<code>https://</code> 
</blockquote>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">轮播#1 of 5:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post" >

<div class="form-group">
    <label  class="col-sm-2 control-label">Slide Picture Preview</label>
    <div class="col-sm-10">
  {php  echo tpl_form_field_image('ImageUrl1',$src1['imgurl'],$src1['imgurl']);}
    </div>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">优先级:</label>
	<input class="col-sm-1" name="priority_f" type="text" value="{$src1['priority']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">图文地址:</label>
	<input class="col-sm-8" name="arti_f" type="text" value="{$src1['arti']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">是否显示:</label>	
	{if $src1['ison']}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_f" checked> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_f"> 不显示
	</label>	

	{else}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_f" > 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_f" checked> 不显示
	</label>
	{/if}	
</div>

<div class="form-group" style="display:none">
	<input name="type" type="text" value="pic1" />
</div>
	<div class="form-group" style="margin-top:20px">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
			<input name="submit" type="submit" value="保存" class="btn btn-primary" />
			<input name="reset" type="reset" value="重置" class="btn btn-primary" />
		</div>
	</div>
</form>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">轮播#2 of 5:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">
<div class="form-group">
    <label  class="col-sm-2 control-label">Slide Picture Preview</label>
    <div class="col-sm-10">
  {php  echo tpl_form_field_image('ImageUrl2',$src2['imgurl'],$src2['imgurl']);}
    </div>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">优先级:</label>
	<input class="col-sm-1" name="priority_s" type="text" value="{$src2['priority']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">图文地址:</label>
	<input class="col-sm-8" name="arti_s" type="text" value="{$src2['arti']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">是否显示:</label>	
	{if $src2['ison']}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_s" checked> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_s"> 不显示
	</label>	
	{else}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_s"> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_s" checked> 不显示
	</label>	
	{/if}
</div>

<div class="form-group" style="display:none">
	<input name="type" type="text" value="pic2" />
</div>

	<div class="form-group" style="margin-top:20px">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
			<input name="submit" type="submit" value="保存" class="btn btn-primary" />
			<input name="reset" type="reset" value="重置" class="btn btn-primary" />
		</div>
	</div>
</form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">轮播#3 of 5:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post" >

<div class="form-group">
    <label  class="col-sm-2 control-label">Slide Picture Preview</label>
    <div class="col-sm-10">
  {php  echo tpl_form_field_image('ImageUrl3',$src3['imgurl'],$src3['imgurl']);}
    </div>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">优先级:</label>
	<input class="col-sm-1" name="priority_t" type="text" value="{$src3['priority']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">图文地址:</label>
	<input class="col-sm-8" name="arti_t" type="text" value="{$src3['arti']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">是否显示:</label>
{if $src3['ison']}		
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_t" checked> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_t"> 不显示
	</label>	
{else}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_t" > 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_t" checked> 不显示
	</label>	
{/if}
</div>

<div class="form-group" style="display:none">
	<input name="type" type="text" value="pic3" />
</div>

	<div class="form-group" style="margin-top:20px">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
			<input name="submit" type="submit" value="保存" class="btn btn-primary" />
			<input name="reset" type="reset" value="重置" class="btn btn-primary" />
		</div>
	</div>
</form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">轮播#4 of 5:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post" >

<div class="form-group">
    <label  class="col-sm-2 control-label">Slide Picture Preview</label>
    <div class="col-sm-10">
  {php  echo tpl_form_field_image('ImageUrl4',$src4['imgurl'],$src4['imgurl']);}
    </div>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">优先级:</label>
	<input class="col-sm-1" name="priority_fo" type="text" value="{$src4['priority']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">图文地址:</label>
	<input class="col-sm-8" name="arti_fo" type="text" value="{$src4['arti']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">是否显示:</label>	
	{if $src4['ison']}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_fo" checked> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_fo"> 不显示
	</label>	
	{else}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_fo"> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_fo" checked> 不显示
	</label>	
	{/if}
</div>

<div class="form-group" style="display:none">
	<input name="type" type="text" value="pic4" />
</div>

	<div class="form-group" style="margin-top:20px">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
			<input name="submit" type="submit" value="保存" class="btn btn-primary" />
			<input name="reset" type="reset" value="重置" class="btn btn-primary" />
		</div>
	</div>
</form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">轮播#5 of 5:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">

<div class="form-group">
    <label  class="col-sm-2 control-label">Slide Picture Preview</label>
    <div class="col-sm-10">
  {php  echo tpl_form_field_image('ImageUrl5',$src5['imgurl'],$src5['imgurl']);}
    </div>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">优先级:</label>
	<input class="col-sm-1" name="priority_fi" type="text" value="{$src5['priority']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">图文地址:</label>
	<input class="col-sm-8" name="arti_fi" type="text" value="{$src5['arti']}"/>
</div>

<div class="form-group" style="margin-left:10px;margin-top:10px">
	<label class="col-sm-2 control-lable">是否显示:</label>	
	{if $src5['ison']}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_fi" checked> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_fi"> 不显示
	</label>	
	{else}
	<label class="radio-inline">
  		<input type="radio" id="ison" value="1" name="ison_fi"> 显示
	</label>
	<label class="radio-inline">
  		<input type="radio" id="isoff" value="0" name="ison_fi" checked> 不显示
	</label>	
	{/if}
</div>

<div class="form-group" style="display:none">
	<input name="type" type="text" value="pic5" />
</div>

	<div class="form-group" style="margin-top:20px">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
			<input name="submit" type="submit" value="保存" class="btn btn-primary" />
			<input name="reset" type="reset" value="重置" class="btn btn-primary" />
		</div>
	</div>
</form>
  </div>
</div>




<br/>
<br/>
<h2>#2 模板消息设置</h2>
<br/>
 <blockquote>注：模板根据自己的需求自行定义,写入模板ID即可(由<a href="https://mp.weixin.qq.com/">微信后台</a>获得)。但是请务必对上如下的格式,自定义格式目前不开放。</blockquote>
 <!-- apply -->
 
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">报名成功通知:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">
<!-- template id -->
<div class="form-group" style="margin-left:18px;margin-top:5px">
	<label class="col-sm-2 control-lable">模板ID:</label>
		<input class="col-sm-8" name="apply_tid" type="text" value="{$apply['apply_tid']}"/>
</div>
<!-- first -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">标题:</label>
		<input class="col-sm-8" name="apply_first" type="text" value="{$apply['apply_first']}"/>
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="apply_fcolor" type="color" value="{$apply['apply_fcolor']}"/>
</div>
<!-- keynote1 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">活动主题:</label>
		<input class="col-sm-8" name="apply_keynote1" type="text" value="{$apply['apply_keynote1']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="apply_kfcolor" type="color" value="{$apply['apply_kfcolor']}"/>
</div>
<!-- keynote2 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">活动时间:</label>
		<b>已指定为联系商家</b>		
</div>
<!-- remark -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">备注:</label>
		<input class="col-sm-8" name="apply_remark" type="text" value="{$apply['apply_remark']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="apply_mkcolor" type="color" value="{$apply['apply_mkcolor']}"/>
</div>
<div class="form-group" style="display:none">
<input class="col-sm-8" name="type" type="text" value="apply"/>
</div>
<!-- button -->
<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" />
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
</div>
</form>
  </div>
</div>
 


<br/>
<br/>
<br/>
<!-- auth -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">新人加入通知:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">
<!-- template id -->
<div class="form-group" style="margin-left:18px;margin-top:5px">
	<label class="col-sm-2 control-lable">模板ID:</label>
		<input class="col-sm-8" name="auth_tid" type="text" value="{$auth['auth_tid']}"/>
</div>
<!-- first -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">标题:</label>
		<input class="col-sm-8" name="auth_first" type="text" value="{$auth['auth_first']}"/>
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="auth_fcolor" type="color"  value="{$apply['auth_first']}"/>
</div>
<!-- keyword1 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">姓名:</label>
	
		<b>已指定为 申请人 姓名</b>
</div>

<!-- keyword2 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">手机号:</label>
	
		<b>已指定为 申请人 手机号</b>
</div>

<!-- keyword3 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">审核日期:</label>

		<b>已指定为后台审核的日期</b>		
</div>

<!-- remark -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">备注:</label>
		<input class="col-sm-8" name="auth_remark" type="text" value="{$auth['auth_remark']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="auth_mkcolor" type="color" value="{$auth['auth_mkcolor']}"/>
</div>
<div class="form-group" style="display:none">
<input class="col-sm-8" name="type" type="text" value="auth"/>
</div>
<!-- button -->
<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" />
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
</div>

</form>
  </div>
</div>



<br/>
<br/>
<br/>
<!-- refuse -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">拒绝用户申请通知:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal"  method="post">
<!-- template id -->
<div class="form-group" style="margin-left:18px;margin-top:5px">
	<label class="col-sm-2 control-lable">模板ID:</label>
		<input class="col-sm-8" name="refu_tid" type="text" value="{$refu['refu_tid']}"/>
</div>
<!-- first -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">标题:</label>
		<input class="col-sm-8" name="refu_first" type="text" value="{$refu['refu_first']}"/>
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="refu_fcolor" type="color" value="{$refu['refu_fcolor']}"/>
</div>
<!-- keyword1 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">姓名:</label>

		<b>已指定为 申请人 姓名</b>		
</div>

<!-- keyword2 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">手机号:</label>

		<b>已指定为 申请人 手机号</b>			
</div>

<!-- keyword3 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">审核日期:</label>
	
		<b>已指定为后台审核的日期</b>				
</div>

<!-- remark -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">备注:</label>
		<input class="col-sm-8" name="refu_remark" type="text" value="{$refu['refu_remark']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="refu_mkcolor" type="color" value="{$refu['refu_mkcolor']}"/>
</div>
<div class="form-group" style="display:none">
<input class="col-sm-8" name="type" type="text" value="refu"/>
</div>
<!-- button -->
<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" />
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
</div>
</form>
  </div>
</div>

<br/>
<br/>
<br/>


<!-- credit-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">积分操作:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">
<!-- template id -->
<div class="form-group" style="margin-left:18px;margin-top:5px">
	<label class="col-sm-2 control-lable">模板ID:</label>
		<input class="col-sm-8" name="credit_tid" type="text" value="{$credit['credit_tid']}"/>
</div>
<!-- first -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">标题:</label>
		<input class="col-sm-8" name="credit_first" type="text" value="{$credit['credit_first']}"/>
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="credit_fcolor" type="color" value="{$credit['credit_fcolor']}"/>
</div>
<!-- account -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">用户姓名:</label>
	<b>已指定为当前用户</b>		
</div>

<!-- date-->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">申请时间:</label>
	<b>已指定为当前服务器时间</b>
</div>

<!-- type -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">消费类型:</label>
		<input class="col-sm-8" name="credit_type" type="text" value="{$credit['credit_type']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="credit_tpcolor" type="color" value="{$credit['credit_tpcolor']}"/>
</div>
<!-- creditchange -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">积分变化类型:</label>
	<b>已指定为“支出”</b>
</div>
<!-- number -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">支出积分:</label>
	<b>100</b>
</div>
<!-- creditName -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">积分类型:</label>
	<b>指定为“账户积分”</b>
</div>
<!-- amount -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">余额:</label>
	<b>指定为当前用户余额</b>
</div>
<!-- remark -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">备注:</label>
		<input class="col-sm-8" name="credit_remark" type="text" value="{$credit['credit_remark']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="credit_mkcolor" type="color" value="{$credit['crefit_mkcolor']}"/>
</div>
<div class="form-group" style="display:none">
<input class="col-sm-8" name="type" type="text" value="credit"/>
</div>
<!-- button -->
<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" />
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
</div>
</form>
  </div>
</div>


<br/>
<br/>
<br/>
<!-- full -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:red">招聘满员通知:</h3>
  </div>
  <div class="panel-body">
<form class="form-horizontal" action="" method="post">
<!-- template id -->
<div class="form-group" style="margin-left:18px;margin-top:5px">
	<label class="col-sm-2 control-lable">模板ID:</label>
		<input class="col-sm-8" name="full_tid" type="text" value="{$full['full_tid']}"/>
</div>
<!-- first -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">标题:</label>
		<input class="col-sm-8" name="full_first" type="text" value="{$full['full_first']}"/>
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="full_fcolor" type="color" value="{$full['full_fcolor']}"/>
</div>
<!-- keyword1 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">兼职名:</label>
	<b>已指定为当前兼职名</b>
</div>

<!-- keyword2 -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">兼职时期:</label>
	<b>已指定为此兼职的时限</b>		
</div>
<!-- remark -->
<div class="form-group" style="margin-left:18px;margin-top:50px">
	<label class="col-sm-2 control-lable">备注:</label>
		<input class="col-sm-8" name="full_remark" type="text" value="{$full['full_remark']}"/>		
</div>
<div class="form-group" style="margin-left:18px">
	<label class="col-sm-2 control-lable">字体颜色:</label>
	<input name="full_mkcolor" type="color" value="{$full['full_mkcolor']}"/>
</div>
<div class="form-group" style="display:none">
<input class="col-sm-8" name="type" type="text" value="full"/>
</div>
<!-- button -->
<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" onclick="refresh()"/>
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
</div>
</form>
  </div>
</div>

<br/>
<br/>
<br/>

<h2>#3 底部版权设置</h2>
 <blockquote>注:用于首页页脚和个人信息页脚(设置过<code>'common/footer'</code>的用户此处可以忽略)</blockquote>
<form class="form-horizontal" action="" method="post">

	<div class="form-group" style="margin-left:18px;margin-top:50px">
		<label class="col-sm-2 control-lable">平台名:</label>
		<input class="col-sm-8" name="adminLable" type="text" value="{$bottom['adminLable']}"/>			
	</div>

	<div class="form-group" style="margin-left:18px;margin-top:50px">
		<label class="col-sm-2 control-lable">绑定的URL:</label>
		<input class="col-sm-8" name="linkURL" type="text" value="{$bottom['linkURL']}"/>			
	</div>


	<div class="form-group" style="display:none">
		<input class="col-sm-8" name="type" type="text" value="bottom"/>
	</div>		
	<div class="form-group" style="margin-left:38px;margin-top:50px">
      <input name="submit" type="submit" value="提交" class="btn btn-primary" />
      <input style="margin-left:10px" name="reset" type="reset" value="重置" class="btn btn-danger" />
	</div>
	<br/>
<br/>
</form>


