{template 'common/header'}

<form method="post" action="" class="form-horizontal" role="form" id="resf">
	 
	     <div class="form-group">
        <label  class="control-label col-sm-2" style="width:70px">外部链接</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Link" name="Ptjfunc[Link]" placeholder="此处填写要引用的链接绝对(完整)路径">
        </div>
    </div>  
    
            <div class="form-group">
        <div class="col-xs-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div> 
	   
</form>