@import url(pu.css);

body {
	font: 16px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei',helvetica,arial;
	color: #1a1a1a
}

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,nav,ol,p,pre,select,span,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,p,ul {
	list-style: none;
	vertical-align: middle;
	display: block
}

em {
	font-style: normal
}

body,fieldset,p,ul {
	margin: 0;
	padding: 0;
	border: 0
}

body,button,input,select,textarea {
	font: 14px
}

li,ol,ul {
	list-style: none
}

div {
	display: block
}

a,a:visited {
	text-decoration: none;
	color: #333
}

.dn {
	display: none
}

.fl {
	float: left
}

.fr {
	float: right
}

.tac {
	text-align: center
}

.blank5 {
	clear: both;
	height: 10px;
	overflow: hidden
}

.blank5 {
	clear: both;
	height: 5px;
	overflow: hidden
}

article,footer,header,hgroup,menu,nav,section {
	display: block;
	clear: all
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

.clearfix:after {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: "."
}

.wapperout {
	width: 100%
}

.title {
	height: auto;
	width: 272px;
	margin: 0 auto
}

.title img {
	height: 100%;
	width: 100%;
	margin: 15% auto 0 auto;
	display: block
}

.ind_con {
	height: 70px;
	width: 182px;
	margin: 0 auto
}

.ind_con img {
	height: 100%;
	width: 100%;
	margin: 12% auto 0 auto;
	display: block
}

.sub_btn {
	height: 50px;
	width: 100%
}

.sub_btn a {
	width: 145px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background: #007236 80% 10px url(icon_arrow.png) no-repeat;
	display: block;
	margin: 20px auto 0 auto;
	color: #fff;
	padding-left: 35px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

footer {
	font-size: 12px;
	text-align: center;
	margin-top: 30px
}

.one_title {
	width: 90%;
	height: 80px;
	border-bottom: 1px #bcbcbc solid;
	overflow: hidden;
	margin: 0 auto
}

.one_title img {
	width: 240px;
	height: 40px;
	display: block;
	margin: 15px auto 0 auto
}

.one_center {
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	height: 45px;
	line-height: 45px
}

.one_center h2 {
	font-weight: 400
}

.one_pic {
	/*width: 300px;
	height: 300px;*/
	overflow: hidden;
	padding: 5px
}

.one_pic img {
	width: 100%;
	height: 100%
}

.all_time {
	text-align: center;
	margin: 25px 0 0 0
}

.all_again {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	min-width: 200px;
	margin-top: 20px
}

.all_again a {
	color: #fff;
	background: #52191f;
	width: 85px;
	height: 100%;
	text-align: center;
	display: inline-block;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.user_contact {
	font-size: 12px;
	text-align: center;
	margin-top: 25px
}

.con_info {
	margin-top: 10px
}

.con_info input[type=text] {
	border: 1px #c2c2c2 solid;
	height: 36px;
	width: 214px;
	font-size: 16px;
	margin: 15px auto 0 auto;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.user_btn>input {
	margin: 20px auto 0 auto;
	width: 155px;
	height: 50px;
	line-height: 50px;
	background: #007236 85% 10px url(icon_arrow.png) no-repeat;
	display: block;
	color: #fff;
	padding-left: 25px;
	border: 0;
	font-size: 16px;
	text-align: left;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.top_list {
	padding-top: 30px
}

.top_list p {
	text-align: center
}

.top_list>section {
	margin-top: 30px
}

.top_list>section h2 {
	text-align: center;
	font-weight: 400
}

.top_list>section ul {
	width: 238px;
	border: 1px #bfbfbf solid;
	background: #f3f3f3;
	margin: 20px auto 0 auto;
	padding-left: 20px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.top_list>section ul>li {
	float: left;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 5px 0;
	overflow: hidden;
	width: 110px
}

.top_list>section ul>li i {
	font-style: normal;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #f26522;
	color: #fff;
	text-align: center
}

.top_list>section ul>li span {
	margin-left: 5pt
}

.starter input {
	width: 70px;
	height: 35px;
	border: 0;
	background: #007236;
	color: #fff;
	font-size: 14px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.msg {
	color: #F56200;
	position: absolute;
	z-index: 9999999;
	top: 45%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 1.8em
}

.share {
	width: 80px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: .5%;
	top: 0
}

.share img {
	width: 100%;
	height: 100%
}

.sub_btno {
	height: 50px;
	width: 100%
}

.sub_btno a {
	width: 145px;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background: #601E24 80%;
	display: block;
	margin: 20px auto 0 auto;
	color: #fff;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}
