<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title>祝天下有情人终成眷属</title>
<link rel='stylesheet' href="{RES}55c16d94000109f300000000.css" tppabs="http://www.zzfriend.com/demo/youxi/m/qixiyq/css/55c16d94000109f300000000.css"/>
<link rel='stylesheet' href="{RES}55c16dab0001286100000000.css" tppabs="http://www.zzfriend.com/demo/youxi/m/qixiyq/css/55c16dab0001286100000000.css"/>
<link rel='stylesheet' href="{RES}55c16dc00001fa1a00000000.css" tppabs="http://www.zzfriend.com/demo/youxi/m/qixiyq/css/55c16dc00001fa1a00000000.css"/>
<link rel='stylesheet' href="{RES}55c16dda0001113100000000.css" tppabs="http://www.zzfriend.com/demo/youxi/m/qixiyq/css/55c16dda0001113100000000.css"/>
<script src="ie.js" tppabs="http://ku.zzfriend.com/js/ie.js"></script>
<script type="text/javascript" src="{RES}55ac9a860001a6c500000000.js" tppabs="http://css.zzfriend.com/h5game/qixiyq/55ac9a860001a6c500000000.js"></script>
<script type="text/javascript" src="{RES}55ac9ea30001ace700000000.js" tppabs="http://css.zzfriend.com/h5game/qixiyq/55ac9ea30001ace700000000.js"></script>
<script type="text/javascript" src="{RES}55c16c910001e21b00000000.js" tppabs="http://css.zzfriend.com/h5game/qixiyq/55c16c910001e21b00000000.js"></script>
</head>
<body>
<div id='content'>
<ul class='content-wrap'>
 
<li>
 
<div class="a_background">
<div class="a_background_top"></div>
<div class="a_background_middle"></div>
<div class="a_background_botton"></div>
</div>
 
<div class="cloudArea">
<div class="cloud cloud1"></div>
<div class="cloud cloud2"></div>
</div>
 
<div id="sun"></div>
</li>
 
<li>
 
<div class="b_background"></div>
<div class="b_background_preload"></div>
 
<div class="shop">
<div class="door">
<div class="door-left"></div>
<div class="door-right"></div>
</div>
 
<div class="lamp"></div>
</div>
 
<div class="bird"></div>
</li>
 
<li>
 
<div class="c_background">
<div class="c_background_top"></div>
<div class="c_background_middle"></div>
<div class="c_background_botton"></div>
</div>
 
<div class="girl"></div>
<div class="bridge-bottom">
<div class="water">
<div id="water1" class="water_1"></div>
<div id="water2" class="water_2"></div>
<div id="water3" class="water_3"></div>
<div id="water4" class="water_4"></div>
</div>
</div>
 
<ul class="stars">
<li class="stars1"></li>
<li class="stars2"></li>
<li class="stars3"></li>
<li class="stars4"></li>
<li class="stars5"></li>
<li class="stars6"></li>
</ul>
 
<div class="logo">祝天下有情人终成眷属</div>
</li>
</ul>
 
<div id="snowflake"></div>
 
<div id="boy" class="charector"></div>
</div>
 <div style="display: none;"> <a href="http://www.vtiny.cn">Power by Vtiny</a>
 <a href="http://www.vtiny.cn/Home/Index/site.html">Power by Vtiny</a>
 </div>
<script type="text/javascript">
    /*手机源码演示页面*/
    var cpro_id = "u2160319";
</script>
<script src="cm.js" tppabs="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script>
 
<script>

</script>
</body>
</html>
