<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{RES}mobile/bridge/css/main.css" media="all"/>
    <title>{$reply['title']}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <!-- Mobile Devices Support @begin -->
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices Support @end -->
    <style>
        img {
            max-width: 100% !important;
        }
        .tile{
            background-size: 100% 100%;
            background-image: url("{$game_tile}");
        }
    </style>
    {php echo register_jssdk(false);}
</head>
<body onselectstart="return true;" ondragstart="return false;">

<script type="text/javascript">
    (function () {
        window.config_custom = {
            PATH: {
                MUSIC: "{RES}mobile/bridge/mp3/"
            },
            IMG: {
                CLICK: [],
                BG: "{$game_page_bg}",
                RESULTBG: "{$result_page_bg}",
                GUIDEBG: "{RES}mobile/bridge/image/guide_panel.jpg"
            },
            NEEDGUIDE:false,
            {if $day_times!=0}
            NUMLIMIT: true,
            RESTTIMES:{$todaynum},
            {else}
            NUMLIMIT: false,
            {/if}
            URL: {
                SUBMIT: "{php echo $this->createMobileUrl('Submit', array('id' => $id), true)}",
                RESTART: "{php echo $this->createMobileUrl('Restart', array('id' => $id), true)}"
            },
            RESULT: {
                SCORE: 0,
                TIME: 0
            },
            NAME: "273713623009596",
            NUM: {$reply['gamelevel']},//gezi
            TIMETOTAL: {$reply['gametime']}//second
        }
    })();
</script>
        <script type="text/javascript" src="{RES}mobile/bridge/js/soundjs_min.js?v=2014-10-22"></script>
		<script type="text/javascript" src="{RES}mobile/bridge/js/zepto_min.js?v=2014-10-22"></script>
        <script type="text/javascript" src="{RES}mobile/bridge/js/local_storage_manager.js?v=2014-10-22"></script>
		<script type="text/javascript" src="{RES}mobile/bridge/js/create_css.js?v=2014-10-22"></script>
		<script type="text/javascript" src="{RES}mobile/bridge/js/md5_min.js?v=2014-10-22"></script>
        <script type="text/javascript" src="{RES}mobile/bridge/js/loading.js?v=2014-10-22" ></script>
        <script type="text/javascript" src="{RES}mobile/bridge/js/main_min.js?v=4"></script>
		<script type="text/javascript" src="{RES}mobile/bridge/js/sound.js?v=2014-10-22"></script>
		<script type="text/javascript" src="{RES}mobile/bridge/js/soundmanager.js?v=2014-10-22"></script>
<div id="main-box">
    <div id="game-layer-score">
        <div id="game-layer-score-text"></div>
        <div id="game-layer-score-score">得分</div>
        <div id="game-layer-score-best"></div>
        <div class="game-layer-score-rank">
            当前排名:<b id="game-layer-score-rank">0</b>
            <span id="game-layer-score-times">剩余次数:0</span>
        </div>
        <div id="game-layer-score-btn" class="btn-layout">
            <div class="btn btn-share" id="btn-share"></div>
            <a class="btn btn-index-page" id="btn-back" href="{php echo $this->createMobileUrl('index', array('id' => $id), true)}"></a>
            <div class="btn btn-reply" id="btn-replay"></div>
        </div>
        <div class="company-rights show"><a href="{if !empty($reply['copyrighturl'])}{$reply['copyrighturl']}{else}#{/if}" style="color:#7854c2;">{if empty($reply['copyright'])}{$_W['account']['name']}{else}{$reply['copyright']}{/if}</a></div>
    </div>
    <div class="company-rights"><a href="{if !empty($reply['copyrighturl'])}{$reply['copyrighturl']}{else}#{/if}" style="color:#7854c2;">{if empty($reply['copyright'])}{$_W['account']['name']}{else}{$reply['copyright']}{/if}</a></div>
    <div id="game-layer-bg">
        <div id="game-start-tap">
            <div class="company-rights"><a href="{if !empty($reply['copyrighturl'])}{$reply['copyrighturl']}{else}#{/if}" style="color:#7854c2;">{if empty($reply['copyright'])}{$_W['account']['name']}{else}{$reply['copyright']}{/if}</a></div>
        </div>
        <div id="game-layer1" class="game-layer"></div>
        <div id="game-layer2" class="game-layer"></div>
    </div>
    <div id="game-end-tap">
    </div>
    <div id="masklayer" class="masklayer">
        <img src='{RES}mobile/bridge/image/share.png' alt='' style="width:260px;"/>
    </div>
    <div class="register-panel-layer"></div>
    <div class="register-panel" id="panel-got-prize">
        <div class="register-main">
            <div class="register-content">
                <div class="icon-got-prize"></div>
                <div class="result-page-prize">人品太好了<br/>你踩到幸运奖啦</div>
                <p class="plus">请到“<a class="color_warn" href="{php echo $this->createMobileUrl('reward', array('id' => $id), true)}">我的奖品</a>”内查看
                </p>
                <div class="btn-layout">
                    <span class="btn-know"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="register-panel" id="panel-without-times">
        <div class="register-main">
            <div class="register-content">
                <div class="icon-without-times"></div>
                <div class="result-page-prize">很可惜</div>
                <p class="plus">你的游戏机会已经用完，<br/>可以告诉好友来增加游戏机会</p>
                <div class="btn-layout">
                    <span class="btn-know"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="game-layer-time"></div>
<div id="game-icon-prize"></div>
<a id="btn-prize" href="{php echo $this->createMobileUrl('reward', array('id' => $id), true)}"></a>
<div id="guide-panel"></div>
<div id="loading-panel" class="show">
    <div class="loading-panel-content">
        <div class="loading-panel-progress-box">
            <div class="loading-panel-progress"></div>
        </div>
        <div class="loading-panel-progress-current">0%</div>
    </div>
</div>
<!--<div class="ads show" id="game-panel-ad">-->
    <!--<img src="{RES}mobile/bridge/image/bottom_ads.jpg"/>-->
    <!--<div class="btn-close-ad"></div>-->
<!--</div>-->
<div class="ads show" id="game-panel-ad">
    <img src="{$ad}" onclick="jump_url();"/>
    <div class="btn-close-ad"></div>
</div>
<script>
    function jump_url() {
        var adurl = "{$reply['adurl']}";
        if (adurl != '') {
            window.location.href = adurl;
        }
    }
</script>
<script>
    wx.ready(function () {
        sharedata = {
            title: '{$share_title}',
            desc: '{$share_desc}',
            link: '{$share_url}',
            imgUrl: '{$share_image}',
            success: function(){
                var url = "{php echo $this->createMobileUrl('share', array('id' => $id), true)}";
                $.ajax
                ({
                    url: url,
                    type:'POST',
                    data: {},
                    dataType:'json',
                    error: function () {
                        alert('网络通讯异常，请稍后再试！');
                    },
                    success: function (result) {
                        alert(result.msg);
                        setTimeout('time_jump()', 1000);
                    }
                });
            },
            cancel: function(){
                //alert('cancel');
            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });

    function time_jump() {
        var url = "{php echo $this->createMobileUrl('index', array('id' => $id), true)}";
        location.href = url;
    }
</script>
</body>
</html>
<!--七夕走鹊桥，粉丝来相“惠”-->
<!--牛郎和织女都等一年了,赶紧帮他们快速走完鹊桥让他们相会吧!游戏还有奖品哦~-->
