<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<title>收款记录</title>
		<link rel="stylesheet" href="{RES}css/cool.css">
		<style type="text/css">
body{
	margin: 0px;
	padding: 0px;
}
#jiaoyi{
	margin-top: 13%;
}
#jiaoyi th{
	font-size: 18px;
}
</style>
<script type="text/javascript">
function zhuye(){
	window.location.href="{php echo $this->createMobileUrl('index',array())}"
}
function shuaxin(){
	window.location.reload();
}
</script>
	</head>
		<body class="c-wh">
	<div class="w10 umh3 c-gra" id="header">
			<div class="box_content w95 area_auto pstnr h30e t-wh">
				<p class="ovd tx-c umh3">
					<span class="w8 area_auto pdt05 pdb05 umh2 ovd t-wh">
						<span class="sl w5" onClick="zhuye()">
							<span class=" c-gra uc-tl uc-bl umh2 tx-c uba ub-wh">主页</span>
						</span>
						<span class="sl w5" onClick="shuaxin()">
							<span class="c-bla uc-tr uc-br umh2 tx-c ubt ubb ubr ub-wh">刷新</span>
						</span>
					</span>
					
				</p>
			</div>
	</div>
	<table id="jiaoyi">
	<thead>
		<tr>
		<th align="center" style="width:10%;text-align:center;">ID</th>
		<th align="center" style="width:10%;text-align:center;">金额</th>			
		<th align="center" style="width:18%;text-align:center;">交易类型</th>	
		<th align="center" style="width:17%;text-align:center;">交易状态</th>	
		<th align="center" style="width:20%;text-align:center;">时间</th>	
		</tr>
	</thead>
	<tbody>
				{loop $list $row}
					<tr>		
						<td align="center" style="text-align:center;">{$row['id']}</td>
                        <td align="center" style="text-align:center;color:red;">{$row['total_fee']}</td>
                        <td align="center" style="text-align:center;">{$row['paytype']}</td>
						<td align="center" style=" text-align:center;">{php echo $this->getpaystatus($row['paytatus'])}</td>
						<td align="center" style="text-align:center;">{php echo date('Y-m-d H:i',$row['update_time'])}</td>
					</tr>
				{/loop}
			</tbody>	
	</table>
	</body>
</html>