{template 'common/header'}
<div class="main">
	
	<form class="form-horizontal form" id="" action="" method="post" style="margin-top:80px">
		<div class="panel panel-default">
			<div class="panel-heading">
				设置列表一
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO1：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name0" type="text" value="{php echo $sql1['0']['name']}">
						<input class="form-control" name="sql_remarks0" type="text" value="{php echo $sql1['0']['remarks']}">						<input name="sql_hidden0" type="hidden" value="{php echo $sql1['0']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO2：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name1" type="text" value="{php echo $sql1['1']['name']}">
						<input class="form-control" name="sql_remarks1" type="text" value="{php echo $sql1['1']['remarks']}">						<input name="sql_hidden1" type="hidden" value="{php echo $sql1['1']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO3：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name2" type="text" value="{php echo $sql1['2']['name']}">
						<input class="form-control" name="sql_remarks2" type="text" value="{php echo $sql1['2']['remarks']}">						<input name="sql_hidden2" type="hidden" value="{php echo $sql1['2']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO4：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name3" type="text" value="{php echo $sql1['3']['name']}">
						<input class="form-control" name="sql_remarks3" type="text" value="{php echo $sql1['3']['remarks']}">						<input name="sql_hidden3" type="hidden" value="{php echo $sql1['3']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO5：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name4" type="text" value="{php echo $sql1['4']['name']}">
						<input class="form-control" name="sql_remarks4" type="text" value="{php echo $sql1['4']['remarks']}">						<input name="sql_hidden4" type="hidden" value="{php echo $sql1['4']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO6：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name5" type="text" value="{php echo $sql1['5']['name']}">
						<input class="form-control" name="sql_remarks5" type="text" value="{php echo $sql1['5']['remarks']}">						<input name="sql_hidden5" type="hidden" value="{php echo $sql1['5']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO7：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name6" type="text" value="{php echo $sql1['6']['name']}">
						<input class="form-control" name="sql_remarks6" type="text" value="{php echo $sql1['6']['remarks']}">						<input name="sql_hidden6" type="hidden" value="{php echo $sql1['6']['id']}" />
					</div>	
				</div>
			</div>	
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO8：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name7" type="text" value="{php echo $sql1['7']['name']}">
						<input class="form-control" name="sql_remarks7" type="text" value="{php echo $sql1['7']['remarks']}">						<input name="sql_hidden7" type="hidden" value="{php echo $sql1['7']['id']}" />
					</div>	
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO9：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name8" type="text" value="{php echo $sql1['8']['name']}">
						<input class="form-control" name="sql_remarks8" type="text" value="{php echo $sql1['8']['remarks']}">						<input name="sql_hidden8" type="hidden" value="{php echo $sql1['8']['id']}" />
					</div>	
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO10：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name9" type="text" value="{php echo $sql1['9']['name']}">
						<input class="form-control" name="sql_remarks9" type="text" value="{php echo $sql1['9']['remarks']}">						<input name="sql_hidden9" type="hidden" value="{php echo $sql1['9']['id']}" />
					</div>	
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO11：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name10" type="text" value="{php echo $sql1['10']['name']}">
						<input class="form-control" name="sql_remarks10" type="text" value="{php echo $sql1['10']['remarks']}">						<input name="sql_hidden10" type="hidden" value="{php echo $sql1['10']['id']}" />
					</div>	
				</div>
			</div>
			
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO12：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name11" type="text" value="{php echo $sql1['11']['name']}">
						<input class="form-control" name="sql_remarks11" type="text" value="{php echo $sql1['11']['remarks']}">						<input name="sql_hidden11" type="hidden" value="{php echo $sql1['11']['id']}" />
					</div>	
				</div>
			</div>
			
		</div>
		<div class="form-group col-sm-12">
			<input name="hidden" type="hidden" value="yes" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>
	</form>

<form class="form-horizontal form" id="" action="" method="post" style="margin-top:80px">
		<div class="panel panel-default">
			<div class="panel-heading">
				设置列表二
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO1：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name0" type="text" value="{php echo $sql2['0']['name']}">						<input name="sql_hidden0" type="hidden" value="{php echo $sql2['0']['id']}" />
					</div>	
				</div>
			</div>	
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO2：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name1" type="text" value="{php echo $sql2['1']['name']}">						<input name="sql_hidden1" type="hidden" value="{php echo $sql2['1']['id']}" />
					</div>	
				</div>
			</div>	
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO3：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name2" type="text" value="{php echo $sql2['2']['name']}">						<input name="sql_hidden2" type="hidden" value="{php echo $sql2['2']['id']}" />
					</div>	
				</div>
			</div>	
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">NO4：</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="sql_name3" type="text" value="{php echo $sql2['3']['name']}">						<input name="sql_hidden3" type="hidden" value="{php echo $sql2['3']['id']}" />
					</div>	
				</div>
			</div>	
			
		</div>
		<div class="form-group col-sm-12">
			<input name="hidden" type="hidden" value="yesyes" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>

	</form>
</div>

<script language='javascript'>
require(['jquery', 'util'], function($, u) {
	$(function() {

	});
});
</script>

{template 'common/footer'}
