body { background-color: #F6F6F6; }
.vgy_user { display: block; margin: 0; padding: 0; text-align: center; overflow: hidden; }
.vgy_user_bg { width: 100%; opacity: 0.15; }
.vgy_user .info2 { display: block; padding: 0; position: relative }
.vgy_user .info2 .touxiang { width: 100px; height: 100px; border-radius: 100%; background-color: #FFF; box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 10px 2px rgba(0, 0, 0, 0.3); }
.vgy_user .name { font-size: 16px; margin: 5px 0 10px 0; color: #fff; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.vgy_user .cjsm { font-size: 14px; margin: 10px 0 10px 0; color: #fff; }
.vgy_user .cjcs { font-size: 14px; margin: 10px 0 10px 0; color: #fff; }
.vgy_user .dhm { font-size: 14px; color: #409f10; line-height: 18px; }
.vgy_user .infotext { text-align: center; display: block; font-size: 48px; color: #fff; }
.vgy_user .infotext .syuan { font-size: 12px; }
.vgy_user .red { color: #F30 }
.vgy_user .time { font-size: 12px; color: #666 }
.vgy_user .bgs { background: -webkit-gradient(linear, 0% 100%, 0% 45%, from(#fff), to(rgba(255,255,255,0))); height: 100%; }
.vgy_user .bgt { width: 100%; opacity: 0 }
.vgy_user .Ranking { color: rgba(255, 255, 255, 0.75); padding: 0; height: 60px; line-height: 52px; font-size: 12px; }
.list { background-color: #FFF }
.list ul li { border-bottom: 1px solid rgba(0, 0, 0, 0.05); overflow: hidden; position: relative; padding: 10px 0 10px 70px; height: 40px; }
.list ul li .Head { position: absolute; background: url(../images/imgbg01.png); background-size: 100% 100%; left: 25px; z-index: 0; }
.list ul li .Head img { width: 42px; overflow: hidden; border-radius: 100%; border: 0; box-shadow: 0 0 0 3px rgba(255, 255, 255, 1); }
.list ul li .text { margin: 0 8px; color: #aeaeae; font-size: 12px; text-align: left; }
.list ul li .text h1 { font-size: 16px; color: #000000; line-height: 24px; }
.list ul li .text span { color: #CCC; font-size: 12px; }
.list ul li .text p { font-size: 14px; color: #FF9900; text-align:right}
.list ul li .text h2 { font-size: 12px; color: #B8B8B8; }
.list ul li .his { float: left; }
.list ul li .gift { float: right; margin-left: 10px; }
.list ul li.more { padding: 10px; text-align: center; font-size: 14px; color: #666; display: block; height: 24px; border-bottom: 0; }
.list ul li.more a { color: #666; }
.list ul li .NO { z-index: 1; font-size: 12PX; position: absolute; left: 10px; background-color: #FBFBFB; color: #9A9A9A; padding: 2px 6px; border-radius: 2px; }
.list ul li:nth-child(-n+3) { }
.list ul li:nth-child(-n+3) .no { background-color: #FF9900; color: #fff; }
.sjbutton { background-color: #49c249; border-radius: 5px; border: 0; text-align: center; padding: 0 15px; height: 30px; line-height: 32px; color: #fff; font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; }
.update { cursor: pointer; border-radius: 100%; background: rgba(255, 255, 255, 0.15); width: 18px; height: 18px; padding: 8px; position: absolute; right: 10px; top: 10px; text-align: center; }
.update img { width: 18px; height: 18px; }
.vgy_user ul { border-top: 1px solid rgba(0, 0, 0, 0.05); margin: auto; display: block; width: 100%; height: 48px; display: -webkit-box; display: box; -webkit-box-orient: horizontal; background-color: rgba(0, 0, 0, 0.1); }
.vgy_user ul li { width: auto!important; height: 100%; position: static; margin: 0; border-radius: 0; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-flex: 1; box-flex: 1; -webkit-box-sizing: border-box; box-shadow: none; background: none; padding: 5px 0 0 0; border-left: 1px solid rgba(0, 0, 0, 0.05); }
.vgy_user ul li:first-child { border-left: 0; }
.vgy_user ul li span { color: #fff }
.vgy_user ul li p { margin:0 0 3px 0; font-size: 12px; display: block; line-height: 16px; text-align: center; color: rgba(255, 255, 255, 0.75); }
.vgy_user .tx { width: 120px; display: inline-block; text-align: center; font-size: 14px; color: #fff; border-radius: 40px; padding: 8px 0; margin: 0 2px 15px 2px; background-color: rgba(255, 255, 255, 0.26); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.vgy_user .tx2 { width: 250px; display: block; text-align: center; font-size: 14px; border-radius: 40px; padding: 8px 0; margin: 0 auto 20px auto; background-color: rgb(255, 255, 255); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.vgy_user .tx3 { display: inline-block; text-align: center; font-size: 14px; line-height: 16px; color: #fff; border-radius: 100%; width: 50px; padding: 8px 0; margin: 0 2px 15px 2px; background-color: rgba(255, 255, 255, 0.26); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
.vgy_user .leftb { position: absolute; top: 80px; left: 10%; }
.vgy_user .rightb { position: absolute; top: 80px; right: 10%; }
.back { left: 10px; top: 10px; }
footer { color: #999; text-align: center; font-size: 12px; padding: 15px 0px; border-top: 1px solid #eaeaea; width: 100%; }
footer a { color: #ff6600; }
/**/
.lotsBox { position: fixed; z-index: 2; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 0, 0, .85); animation: poupFadIn 0.5s ease 0s 1; }
.lotsbg { position: absolute; top: 50%; margin-top: -175px; left: 0; right: 0; overflow: hidden; }
.lotsOne { width: 123px; height: 248px; margin-left: auto; margin-right: auto; background-image: url(../images/lots1.png); background-size: contain; background-position: center; background-repeat: no-repeat; transform-origin: 50% 100%; -o-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -webkit-transform-origin: 50% 100%; animation: lotsSwing 2s infinite; -o-animation: lotsSwing 2s infinite; -moz-animation: lotsSwing 2s infinite; -webkit-animation: lotsSwing 2s infinite }
@-webkit-keyframes lotsSwing { 0% {
-webkit-transform:rotate(-8deg)
}
50% {
-webkit-transform:rotate(8deg)
}
100% {
-webkit-transform:rotate(-8deg)
}
}
.lotsTwo { position: absolute; top: 0; left: 5px; width: 100px; height: 50px; margin-left: auto; margin-right: auto; background-image: url(../images/lots2.png); background-size: contain; background-position: center; background-repeat: no-repeat; }
.lotsBox .closeb { cursor: pointer; position: absolute; display: block; border-radius: 50%; width: 30px; height: 30px; text-indent: -9999px; top: 5px; right: 5px; }
.lotsBox .closeb:after { position: absolute; content: '.'; display: block; width: 20px; height: 1px; background: #B9B9B9; -webkit-transform: rotate(45deg); top: 14px; left: 5px; }
.lotsBox .closeb:before { position: absolute; content: '.'; display: block; width: 20px; height: 1px; background: #B9B9B9; -webkit-transform: rotate(-45deg); top: 14px; left: 5px; }
.lotsBox .cjjh { text-align: center; font-size: 14px; color: #CD4337; margin-top: 25px; }
.lotsBox .wdjp { width: 150px; display: block; text-align: center; font-size: 14px; color: #000; border-radius: 40px; padding: 8px 0; margin: 10px auto 15px auto; background-color: #CD4337; }