<style>
    .panel .black {
        overflow: hidden;
        color: #09f;
        height: 68px;
        line-height: 48px;
    }

    .panel .black img{
        display: inline-block;
        margin-right: 20px;
    }

    .panel .myce {
        color: firebrick;
        font-weight: bold;
        cursor: pointer;
        animation: myce 2s ease infinite;
        -webkit-animation: myce 2s ease infinite;
    }

    @-webkit-keyframes myce {
        0% {
            color: #f60;
        }
        50% {
            color: #09f;
        }
        100% {
            color: #f60;
        }
    }

    @keyframes myce {
        0% {
            color: #f60
        }
        50% {
            color: #09f;
        }
        100% {
            color: #f60;
        }
    }
</style>
<?php
    global $_W,$_GPC;

    load()->model('account');
    $accounts = uni_accounts();

    if (!empty($_GPC['rid'])) {
        $sql_acid2 = "SELECT `acid` FROM " . tablename('aaidybnt_testapi') . " WHERE rid = " . $_GPC['rid'];
        $rel_acid2 = pdo_fetch($sql_acid2);
    }
?>
<div class="panel panel-default">
    <div class="panel-heading black">
        <img class="pull-left" src="{MODULE_URL}icon.jpg"/>
        <span class="myce" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">查看使用说明</span>
    </div>

    <div class="panel-body">
        <div class="collapse" id="collapseExample">
            <div class="col-xs-12 col-sm-6">
                <div class="alert alert-success" role="alert" style="line-height: 30px; overflow: hidden">
                    如返回类似下图的数据<br />表明微信接口正常，类似<strong>图文标题Plus和文本回复Plus</strong>这样模块可以正常使用。<br /><br />
                    <img src="{MODULE_URL}images/ok.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="alert alert-danger" role="alert" style="line-height: 30px; overflow: hidden">
                    下图是错误的数据返回<br />很抱歉，您需要排查错误、解决问题后，在使用相关模块。<br /><br />
                    <img src="{MODULE_URL}images/err.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="alert alert-info" role="alert" style="line-height: 30px; overflow: hidden">
                <p>1、全局返回码说明<br />
                    　　公众号每次调用接口时，可能获得正确或错误的返回码，根据返回码信息排查错误。<br />
                    　　<a target="_blank" href="http://mp.weixin.qq.com/wiki/17/fa4e1434e57290788bde25603fa2fcbd.html">
                        http://mp.weixin.qq.com/wiki/17/fa4e1434e57290788bde25603fa2fcbd.html
                    </a>
                </p>
                <p>
                    2、如果什么的都没有发生，或者是其他情况，请自行排查程序框架或服务器问题。
                </p>
                <p class="bg-danger">
                    　　该公众号共有{$_rows}个粉丝（这里面包括已经关注的和关注后取消关注的粉丝）。<br />
                    　　当前关注的粉丝真实数量为{$_rows2}个。
                </p>
            </div>
        </div>
    </div>

    <div class="panel-body">

        <div class="form-group">
            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">选择公众号</label>
            <div class="col-sm-6 col-md-8 col-xs-12">
                {loop $accounts $key $acid_list}
                <div class="radio">
                    <label>
                        <input type="radio" class="radio_acid" name="radio_acid" id="{$key}" value="{$key}" <?php if($rel_acid_count < 2){ ?> checked<?php }elseif($key == $rel_acid2['acid']){echo "checked";} ?> >
                        {$acid_list['name']}
                    </label>
                    <p>key={$key}
                        $rel_acid2['acid']={$rel_acid2['acid']}
                        rid={$_GPC['rid']}
                    </p>
                </div>
                {/loop}
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">回复内容</label>

            <div class="col-sm-6 col-md-8 col-xs-12">
                <input name="content" class="form-control content" disabled value="无需填写任何内容，直接保存规则，即可测试效果。"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-12 col-sm-4 col-md-4 col-lg-2 control-label">设置起始关注数量</label>

            <div class="col-sm-6 col-md-8 col-xs-12">
                <input class="form-control content" name="num" value="{$reply['num']}" placeholder="范围0-9999999"/>
            </div>
        </div>

    </div>
</div>
<script>
    function validateReplyForm(formobj, jq, underscore, util, $scope, $http) {
        var _num = formobj['num'].value;
        if(!_num){
            return true;
        }
        if (_num < 0 || _num != parseInt(_num) || _num.length > 7) {
            util.message('请输入正确的数值');
            return false;
        }

        var radiolen = $('.radio_acid:checked').length;
        if (radiolen < 1){
            util.message('请选择正确的公众号');
            return false;
        }
    }
</script>