{template 'common/header'}
<script>
require(['angular.sanitize', 'bootstrap', 'underscore', 'util'], function(angular, $, _, util){
	angular.module('app', ['ngSanitize']).controller('replyForm', function($scope, $http){
		$scope.reply = {
			advSetting: false,
			advTrigger: false,
			entry: null 
		};
		$scope.trigger = {};
		$scope.trigger.descriptions = {};
		$scope.trigger.descriptions.contains = '用户进行交谈时，对话中包含上述关键字就执行这条规则。';
		$scope.trigger.descriptions.regexp = '用户进行交谈时，对话内容符合述关键字中定义的模式才会执行这条规则。<br/><strong>注意：如果你不明白正则表达式的工作方式，请不要使用正则匹配</strong> <br/><strong>注意：正则匹配使用MySQL的匹配引擎，请使用MySQL的正则语法</strong> <br /><strong>示例: </strong><br/><em>^微信</em>匹配以“微信”开头的语句<br /><em>微信$</em>匹配以“微信”结尾的语句<br /><em>^微信$</em>匹配等同“微信”的语句<br /><em>微信</em>匹配包含“微信”的语句<br /><em>[0-9\.\-]</em>匹配所有的数字，句号和减号<br /><em>^[a-zA-Z_]$</em>所有的字母和下划线<br /><em>^[[:alpha:]]{3}$</em>所有的3个字母的单词<br /><em>^a{4}$</em>aaaa<br /><em>^a{2,4}$</em>aa，aaa或aaaa<br /><em>^a{2,}$</em>匹配多于两个a的字符串';
		$scope.trigger.descriptions.trustee = '如果没有比这条回复优先级更高的回复被触发，那么直接使用这条回复。<br/><strong>注意：如果你不明白这个机制的工作方式，请不要使用直接接管</strong>';
		$scope.trigger.labels = {};
		$scope.trigger.labels.contains = '包含关键字';
		$scope.trigger.labels.regexp = '正则表达式模式';
		$scope.trigger.labels.trustee = '直接接管操作';
		$scope.trigger.active = 'contains';
		$scope.trigger.items = {};
		$scope.trigger.items.default = '';
		$scope.trigger.items.contains = [];
		$scope.trigger.items.regexp = [];
		$scope.trigger.items.trustee = [];
		if($scope.reply.entry) {
			$scope.reply.entry.istop = $scope.reply.entry.displayorder >= 255 ? 1 : 0;
			//$scope.reply.advSetting = $scope.reply.entry.displayorder!=0 || !$scope.reply.entry.status;
			if($scope.reply.entry.keywords) {
				angular.forEach($scope.reply.entry.keywords, function(v, k){
					if(v.type == '1') {
						this.default += (v.content + ',');
					}
					if(v.type == '2') {
						this.contains.push({content: v.content, label: '请输入' + $scope.trigger.labels.contains, saved: true});
					}
					if(v.type == '3') {
						this.regexp.push({content: v.content, label: '请输入' + $scope.trigger.labels.regexp, saved: true});
					}
					if(v.type == '4') {
						this.trustee.push({});
					}
				}, $scope.trigger.items);
				if($scope.trigger.items.default.length > 1) {
					$scope.trigger.items.default = $scope.trigger.items.default.slice(0, $scope.trigger.items.default.length - 1);
				}
				if($scope.trigger.items.contains.length > 0 || $scope.trigger.items.regexp.length > 0 || $scope.trigger.items.trustee.length > 0) {
					$scope.reply.advTrigger = true;
				}、
				if($scope.trigger.items.contains.length > 0) {
					$('a[data-toggle="tab"]').eq(0).tab('show');
					$scope.trigger.active = 'contains';
				} else if($scope.trigger.items.regexp.length > 0) {
					$('a[data-toggle="tab"]').eq(1).tab('show');
					$scope.trigger.active = 'regexp';
				} else if($scope.trigger.items.trustee.length > 0) {
					$('a[data-toggle="tab"]').eq(2).tab('show');
					$scope.trigger.active = 'trustee';
				}
			}
		}
		$scope.trigger.addItem = function(){
			var type = $scope.trigger.active;
			if(type != 'trustee') {
				$scope.trigger.items[type].push({content: '', label: '请输入' + $scope.trigger.labels[type], saved: false});
			} else {
				if($scope.trigger.items.trustee.length == 0) {
					$scope.trigger.items.trustee.push({type:4, content:''});
				}
			}
		};
		
		$scope.trigger.saveItem = function(item){
			item.saved = !item.saved;
		};
		$scope.trigger.removeItem = function(item) {
			var type = $scope.trigger.active;
			$scope.trigger.items[type] = _.without($scope.trigger.items[type], item);
			$scope.$digest();
		};
		$scope.trigger.test = function(item) {
		}
		if($.isFunction(window.initReplyController)) {
			window.initReplyController($scope, $http);
		}
		$('#reply-form').submit(function(){
			if($.trim($(':text[name="name"]').val()) == '') {
				util.message('必须输入回复规则名称');
				return false;
			}
			var val = [];
			$scope.$digest();
			if($scope.trigger.items.default != '') {
				var kws = $scope.trigger.items.default.replace('，', ',').split(',');
				kws = _.union(kws);
				angular.forEach(kws, function(v){
					if(v != '') {
						val.push({type: 1, content: v});
					}
				}, val);
			}
			angular.forEach($scope.trigger.items, function(v, name){
				var flag = true;
				if(name != 'default' && v.length > 0) {
					if(name == 'contains' || name == 'regexp'){
						angular.forEach(v, function(value){
							if(value.content.trim() != '') {
								this.push({
									content: value.content,
									type: name == 'contains' ? 2 : 3
								});
							}
						}, val);
					}
					if(name == 'trustee'){
						angular.forEach(v, function(value){
							this.push({type:4, content:''});
						}, val);
					}
				}
			}, val);
			if(val.length == 0 && $scope.trigger.active != 'trustee') {
				util.message('请输入有效的触发关键字.');
				return false;
			}
			$scope.$digest();
			val = angular.toJson(val);
			$(':hidden[name=keywords]').val(val);
			if($.isFunction(window.validateReplyForm)) {
				return window.validateReplyForm(this, $, _, util, $scope, $http);
			}
			return true;
		});
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			$scope.trigger.active = e.target.hash.replace(/#/, '');
			$scope.$digest();
		})
		util.emotion($("#keyword"), $("#keywordinput")[0], function(txt, elm, target){
			$scope.trigger.items.default = $(target).val();
			$scope.$digest();
		});
	}).filter('nl2br', function($sce){
		return function(text) {
			return text ? $sce.trustAsHtml(text.replace(/\n/g, '<br/>')) : '';
		};
	}).directive('ngEditor', function($document){
		return function (scope, element, attr) {
			var content = scope.$eval(attr.ngEditor);
			var elm = element[0];
			if(!elm.editor) {
				require(['util'], function(util){
					util.editor(elm, function(e, editor){
						e.editor = editor;
						e.editor.on('init', function(){
							e.editor.setContent(content);
						});
					});
				});
			}
		};
	}).directive('ngInvoker', function($parse){
		return function (scope, element, attr) {
			scope.$eval(attr.ngInvoker);
		};
	});
	angular.bootstrap(document, ['app']);


	// 检测规则是否已经存在
	window.checkKeyWord = function(key) {
		var keyword = key.val().trim();
		if (keyword == '') {
			return false;
		}
		var type = key.attr('data-type');
		var wordIndex = key.index('.keyword');
		var isLeagl = true;
		$('.keyword').each(function(index) {
			var currentWord = $(this).val().trim();
			if (keyword == currentWord && wordIndex != index) {
				isLeagl = false;
				return false;
			}
		});
		if (isLeagl === false) {
			key.next().text('');
			util.message('该关键字已重复存在于当前规则中.');
			return false;
		}

		$.post(location.href, {keyword:keyword}, function(resp){
			if(resp != 'success') {
				var rid = $('input[name="rid"]').val();
				var rules = JSON.parse(resp);
				var url = "./index.php?c=platform&a=reply&do=post&m=basic";
				var ruleurl = '';
				for (rule in rules) {
					if (rid != rules[rule].id) {
						ruleurl += "<a href='" + url + "&rid=" + rules[rule].id + "' target='_blank'><strong class='text-danger'>" + rules[rule].name + "</strong></a>&nbsp;";
					}
				}
				if (ruleurl != '') {
					key.next().html('该关键字已存在于 ' + ruleurl + ' 规则中.');
				}
			} else {
				key.next().text('');
			}
		});
	}

	$('.keyword').each(function() {
		$(this).attr('data-type', 'keyword');
	});
});

</script>
<div class="main"  ng-controller="replyForm">
	<form action="" method="post" class="form-horizontal form" id="setting-form">
		<div class="panel panel-default">
			<div class="panel-heading">红包设置</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">APPID</label>
					<div class="col-sm-8">
						<input type="text" name="data[appid]" class="form-control" value="{$settings['appid']}" placeholder="微信公众平台appid"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">MCHID</label>
					<div class="col-sm-8">
						<input type="password" name="data[mchid]" class="form-control" value="{$settings['mchid']}" placeholder="商户号"/>
					</div>
				</div>
	
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">PARTNERKEY</label>
					<div class="col-sm-8">
						<input type="password" name="data[partner]" class="form-control" value="{$settings['partner']}" placeholder="支付key" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">apiclient_cert</label>
					<div class="col-sm-8">
						<textarea name="data[apiclient_cert]" class="form-control"  placeholder="导出证书部分的内容，全选apiclient_cert.pem文件内容复制到此处" >{$settings['apiclient_cert']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">apiclient_key</label>
					<div class="col-sm-8">
						<textarea name="data[apiclient_key]" class="form-control"  placeholder="导出证书秘钥的内容，全选apiclient_key.pem文件内容复制到此处" >{$settings['apiclient_key']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">rootca</label>
					<div class="col-sm-8">
						<textarea name="data[rootca]" class="form-control" placeholder="证明微信支付身份的服务器证书，全选rootca.pem文件内容复制到此处" >{$settings['rootca']}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">活动名称</label>
					<div class="col-sm-8">
						<input type="text" name="data[act_name]" class="form-control" value="{$settings['act_name']}" />
					</div>
				</div>

				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">祝福语</label>
					<div class="col-sm-8">
						<input type="text" name="data[wishing]" class="form-control" value="{$settings['wishing']}" />
					</div>
				</div>
			
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">备注信息</label>
					<div class="col-sm-8">
						<input type="text" name="data[remark]" class="form-control" value="{$settings['remark']}" />
					</div>
				</div>
	
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">提供方名称</label>
					<div class="col-sm-8">
						<input type="text" name="data[nick_name]" class="form-control" value="{$settings['nick_name']}" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">红包发送方名称</label>
					<div class="col-sm-8">
						<input type="text" name="data[send_name]" class="form-control" value="{$settings['send_name']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">活动开始时间</label>
					<div class="col-sm-8">
						{php echo tpl_form_field_date('data[starttime]', $settings['starttime'], true);}
						<!--
						<select name="data[touch]" class="form-control"  >
							<option value="y"  {if $settings['touch']== 'y'}selected{/if}>是</option>
							<option value="n"  {if $settings['touch']== 'n'}selected{/if}>否</option>
						</select>
						<span class="help-block bg-danger">如果不想触发活动，请将开始时间设置为当前时间之前</span>
						-->
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">活动结束时间</label>
					<div class="col-sm-8">
						{php echo tpl_form_field_date('data[endtime]', $settings['endtime'], true);}
						<!--
						<select name="data[touch]" class="form-control"  >
							<option value="y"  {if $settings['touch']== 'y'}selected{/if}>是</option>
							<option value="n"  {if $settings['touch']== 'n'}selected{/if}>否</option>
						</select>
						<span class="help-block bg-danger">如果不想触发活动，请将结束时间设置为当前时间之前</span>
						-->
					</div>
				</div>
				
				       <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">首页按钮文字</label>
							<div class="col-sm-8">
											<input type="text" name="data[buttontext]" class="form-control" value="{$settings['buttontext']}" />
							</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">关注引导页</label>
					<div class="col-sm-8">
						<input type="text" name="data[guideurl]" class="form-control" value="{$settings['guideurl']}" />
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">发放金额（默认）</label>
					<div class="col-sm-8">
						<input type="text" name="data[commonmoney]" id = "commonmoney" class="form-control" value="{$settings['commonmoney']}" />
						<span class="help-block bg-danger">单位：分    例: 100</span>
					</div>
				</div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">每人一共获得猜红包验证码数量</label>
                    <div class="col-sm-8">
                        <input type="text" name="data[totalcount]" class="form-control" value="{$settings['totalcount']}" />
                        <span class="help-block bg-danger">不填或者0代表没有限制</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">每人每批最多获得猜红包验证码数量</label>
                    <div class="col-sm-8">
                        <input type="text" name="data[picitotalcount]" class="form-control" value="{$settings['picitotalcount']}" />
                        <span class="help-block bg-danger">不填或者0代表没有限制</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">用户不能再获得验证码提示语</label>
                    <div class="col-sm-8">
                        <input type="text" name="data[totaltitle]" class="form-control" value="{$settings['totaltitle']}" />
                        <span class="help-block bg-danger">默认：您已领取过本红包</span>
                    </div>
                </div>
				
				
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页logo图</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('data[logoImg]', $settings['logoImg'])}
                    </div>
                </div>
                
                         <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动规则</label>
					<div class="form-group">
				<div class="col-sm-9 col-xs-12">
					<textarea name="data[hbrule]" id = "content" class="form-control richtext" cols="70" rows="13">{$settings['hbrule']}</textarea>
				</div>
				</div>
				
				

		<script type="text/javascript">

</script>
 <script type="text/javascript">
	require(['jquery', 'util'], function($, u){
		$(function(){
			u.editor($('.richtext')[0]);

		});
	});
</script>

                </div>
                
               	<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">是否强制关注才能发送红包</label>
					<div class="col-sm-8">
						<label><input type = "radio" value = "1" name = "data[issubsend]" checked>是</label>
						<label><input type = "radio" value = "2" name = "data[issubsend]" {if $settings['issubsend'] == 2}checked{/if}>否</label>
					</div>
				</div>
				
                <!-- 
                <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">外链</label>
					<div class="col-sm-8">
						<input type="text" name="data[othersource]" class="form-control" value="{$settings['othersource']}" />
							<span class="help-block bg-danger">此处为跳转到可以发送红包的公众号的红包首页连接   谨慎使用</span>
					</div>
				</div>
                 -->
                
				<div class="form-group">
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
						<input name="submit" type="submit" value="提交" class="btn btn-primary" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
 <script>
	window.initReplyController = function($scope) {
		$scope.context = {};
		$scope.context.items = [{php echo json_encode($replies)}];
		if(!$.isArray($scope.context.items)) {
			$scope.context.items = [];
		}
		if($scope.context.items.length == 0) {
			$scope.context.items.push({
				content: ''
			});
		}
		$scope.context.addItem = function(){
			$scope.context.items.push({
				content: ''
			});
		};
		$scope.context.saveItem = function(item){
			item.saved = !item.saved;
		};
		$scope.context.removeItem = function(item) {
			require(['underscore'], function(_){
				$scope.context.items = _.without($scope.context.items, item);
				$scope.$digest();
			});
		};
		$scope.initEmotion = function(obj) {
			require(['util'], function(util){
				var elm = $('.emotion-triggers').eq(obj.$index);
				util.emotion(elm[0], elm.parent().parent().find('.content')[0], function(txt, elm, target){
					obj.item.content = $(target).val();
					$scope.$digest();
				});
			});
		};
        /*选择Emoji表情*/
		$scope.selectEmoji = function(obj) {
            require(['util'], function(util){
				var elm = $('.emoji-triggers').eq(obj.$index);
				var textbox = elm.parent().parent().find('.content')[0];
    			util.emojiBrowser(function(emoji){
    				var unshift = '[U+' + emoji.find("span").text() + ']';
    				var newstart = textbox.selectionStart + unshift.length;
    				var insertval = textbox.value.substr(0,textbox.selectionStart) + unshift + textbox.value.substring(textbox.selectionEnd);
    				obj.item.content = insertval;
    				$scope.$digest();
    			});
            });
		};
	};
	window.validateReplyForm = function(form, $, _, util, $scope) {
		var val = [];
		$scope.$digest();
		angular.forEach($scope.context.items, function(v, k){
			if($.trim(v.content) != '') {
				this.push(v);
			}
		}, val);
		if(val.length == 0) {
			util.message('请输入有效的欢迎内容.');
			return false;
		}
		$scope.$digest();
		val = angular.toJson(val);
		$(':hidden[name=replies]').val(val);
		return true;
	};
</script>	
<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#setting-form').submit(function(){
			var result = true;
			if($('input[name="data[appid]"]').val() == ''){
				result = false;
				util.message('未填写APPID.');
			}
			
			if($('input[name="data[appsecrect]"]').val() == ''){
				result = false;
				util.message('未填写APPSECRECT.');
			}
			
			if($('input[name="data[mchid]"]').val() == ''){
				result = false;
				util.message('未填写MCHID.');
			}
			
			if($('input[name="data[partner]"]').val() == ''){
				result = false;
				util.message('未填写PARTNERKEY.');
			}
			
			if($('input[name="data[act_name]"]').val() == ''){
				result = false;
				util.message('未填写活动名称.');
			}
			
			if($('input[name="data[wishing]"]').val() == ''){
				result = false;
				util.message('未填写祝福语.');
			}
			
			if($('input[name="data[remark]"]').val() == ''){
				result = false;
				util.message('未填写备注信息.');
			}
			
			if($('input[name="data[nick_name]"]').val() == ''){
				result = false;
				util.message('未填写提供方名称.');
			}
			
			if($('input[name="data[send_name]"]').val() == ''){
				result = false;
				util.message('未填写红包发送方名称.');
			}
			
			if($('input[name="data[touch]"]').val() == ''){
				result = false;
				util.message('未选择关注时是否触发.');
			}
			//if($('input[name="data[touchkey]"]').val() == ''){
			//	result = false;
			//	util.message('未填写触发关键字.');
			//}
			if($('input[name="data[endtime]"]').val() == ''){
				result = false;
				util.message('结束时间不能为空.');
			}
			if($('input[name="data[starttime]"]').val() == ''){
				result = false;
				util.message('开始时间不能为空.');
			}
			if($('input[name="data[randmin]"]').val() == ''){
				result = false;
				util.message('未填写随机数下界.');
			}
			if($('input[name="data[randmax]"]').val() == ''){
				result = false;
				util.message('未填写随机数上界.');
			}
			
			
			var money = $('input[name="data[commonmoney]"]').val();
			 if(money == '' || isNaN(money) || Number(money) < 100){
				result = false;
			 	util.message('请正确填写发放金额.');
			 }
			// if(isNaN($('input[name="data[money]"]').val())){
			// 	result=false;
			// 	util.message("基础红包金额必须为数字！");
			// }
			
			// if(isNaN($('input[name="data[money_extra]"]').val())){
			// 	result=false;
			// 	util.message("加成红包金额必须为数字！");
			// }

			var min=parseInt($('input[name="data[randmin]"]').val());
			var max=parseInt($('input[name="data[randmax]"]').val());
			
			var sendnum=$('input[name="data[sendnum]"]').val();
			var sendArr=sendnum.split(",");
			for(var i=0;i<sendArr.length;i++){
				var temp=parseInt(sendArr[i]);
				if(isNaN(temp)){
					result=false;
					util.message("输入必须为数字，且以英文逗号分隔！");
					break;
				}
				if(temp<min||temp>max){
					result=false;
					util.message("红包发放数字必须在上下界之间，且随机数下界必须小于上界！");
					break;
				}
			}		
			return result;
		});
	});
});
</script>
{template 'common/footer'}
