<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{if $title}{$title}{else}{if !empty($_W['account']['name'])}{$_W['account']['name']}{/if}{/if}</title>
<script src="http://api.map.baidu.com/components?ak=FlKkUI6xCNnyGzIeanayIGq8&v=1.0">
</script>
</head>
<body>
{php $location = $sits['lng'].','.$sits['lat']}
<lbs-map style="height:100%">
    <lbs-poi name="{$sits['title']}" location="{$location}" addr="{$sits[address]}"  icon-src="http://api0.map.bdimg.com/images/marker_red_sprite.png" height="25px" width="39px"></lbs-poi>
</lbs-map>
</body>
</html>