{template 'common/header'}
<div class='container' style='padding:0 5px 10px;margin:0;width:100%'>

<div class="panel panel-success">
  		<div class="panel-heading">主站信息设置</div>
	</div>
	<form action="" method="post" class="form-horizontal form">
		<div class="panel panel-default">
		
			<div class="panel-body">
		
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">主站标题</label>
				<div class="col-sm-8">
					<input type="text" name="title" class="form-control" value="{$info['title']}" />
					<span class="help-block"></span>
				</div>
			</div>	
				
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">底部版权</label>
				<div class="col-sm-8">
					<input type="text" name="copyright" class="form-control" value="{$info['copyright']}" /> 
					<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
		        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">底部图片</label>
		       <div class="col-sm-9 col-xs-12">
		            {php echo tpl_form_field_image('page_cover',$info['page_cover']);}
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享标题</label>
		        <div class="col-sm-9 col-xs-12">
		            <input type="text" id="share_title" class="form-control span7" placeholder="" name="share_title" value="{$info['share_title']}">
		        </div>
		    </div>

		    <div class="form-group">
		        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享图标</label>
		        <div class="col-sm-9 col-xs-12">
		            {php echo tpl_form_field_image('share_icon',$info['share_icon']);}
		        </div>
		    </div>

		    <div class="form-group">
		        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">分享描述</label>
		        <div class="col-sm-9 col-xs-12">
			        <textarea style="height: 60px;" name="share_content" class="form-control span7" cols="60">{$info['share_content']}</textarea>
		        </div>
		    </div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
				<div class="col-sm-4">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
					
				</div>
			</div>
			
			</div>
		</div>
	</form>
			
</div>

{template 'common/footer'}
