{template 'common/header'}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">所有推广宝贝</h3>
  </div>
<div class="panel-body table-responsive">
    <table class="table">
    <thead>
    	<tr>
    		<th>排序</th>
    		<th>显示</th>
    		<th>页面标题</th>
    		<th>属性</th>
    		
    	</tr>
    </thead>
    <tbody>
		{loop $data $key $item}
		<tr>
			<th>{php echo ++$key;}</th>
			<th>{if $item['show']==1}显示{else}不显示{/if}</th>
			<th>{php echo html_entity_decode($item['title']);}</th>
			<th>
	<a class="btn btn-default" href="{php echo $this->createWebUrl('change',array('uniacid'=>$item['uniacid'],'id'=>$item['id']));}" role="button">修改</a>
<a class="btn btn-default" href="{php echo $this->createWebUrl('del',array('uniacid'=>$item['uniacid'],'id'=>$item['id']));}" role="button" onclick="return confirm('你确定要删除这个问题？')">删除</a>
			</th>
		</tr>
		{/loop}
    </tbody>
  </table>
  </div>
</div>
</div>
{template 'common/footer'}