
        <div class="panel panel-default">
            <div class="panel-heading">自定义名称</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">列表名称</label>
                    <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                    <input type="text" name="mname" class="form-control" value="{$activity['mname']}" /><span class="input-group-addon">例：我的表单 或是 我的预约、我的报名等</span>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态名称设置</label>
                    <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                    <span class="input-group-addon">待受理/待跟进</span><input type="text" name="state1" class="form-control" value="{$activity['state1']}" />
                    <span class="input-group-addon">已受理/跟进中</span><input type="text" name="state2" class="form-control" value="{$activity['state2']}" />
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                    <span class="input-group-addon">已完成</span><input type="text" name="state3" class="form-control" value="{$activity['state3']}" />
                    <span class="input-group-addon">拒绝受理</span><input type="text" name="state4" class="form-control" value="{$activity['state4']}" />
                    <span class="input-group-addon">已取消</span><input type="text" name="state5" class="form-control" value="{$activity['state5']}" />
                    </div>
                    </div>
                </div>
			</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">前台模板设置</div>
            <div class="panel-body">
        <div class="form-group">
          <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">WEUI模板</label>
          <div class="col-sm-8 col-xs-12">
            <div class="row row-fix">
  <div class="col-xs-6 col-sm-6 col-md-3 template_picker">
    <div class="thumbnail" style="text-align:center;width:140px;">
        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">WEUI</span>
      <div class="radio">
        <label>
          <input type="radio" name="skins" value="weui" {if $activity['skins'] == 'weui' || empty($activity['skins'])} checked="checked"{/if}>
          选择
        </label>
      </div>
    </div>
  </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">选择模板(请使用weui模板)</label>
          <div class="col-xs-2 col-md-2">
            <div class="row row-fix">
  <div class="col-xs-6 col-sm-6 col-md-3 template_picker">
    <div class="thumbnail" style="text-align:center;width:140px;">
      <img  class="imgtip" style="height:100px;overflow:hidden;" src="/addons/dayu_yuyuepay/template/img/flat.jpg" bigimg="/addons/dayu_yuyuepay/template/img/flat.jpg">
        <span style="display:block;white-space: nowrap;text-overflow:ellipsis; overflow:hidden">UI2.0</span>
      <div class="radio">
        <label>
          <input type="radio" name="skins" value="flat" {if $activity['skins'] == 'flat' || empty($activity['skins'])} checked="checked"{/if}>
          选择
        </label>
      </div>
    </div>
  </div> 
            </div>
          </div>
		  
			<div class="col-xs-8 col-md-8">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">预约开始时间</label>
					<div class="col-sm-5 col-xs-12 input-group">
						<input type="text" name="kaishi" class="form-control" value="{$activity['kaishi']}" /><span class="input-group-addon">小时后(如1)</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">预约时间结束</label>
					<div class="col-sm-5 col-xs-12 input-group">
						<input type="text" name="jieshu" class="form-control" value="{$activity['jieshu']}" /><span class="input-group-addon">点结束(如22)</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">最多可预约多少天后</label>
					<div class="col-sm-5 col-xs-12 input-group">
						<input type="text" name="tianshu" class="form-control" value="{$activity['tianshu']}" /><span class="input-group-addon">天(如15)</span>
					</div>
				</div>
			</div>
			
        </div>
        <div class="form-group">
          <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">定制模板</label>
          <div class="col-sm-8 col-xs-12">
            <div class="row row-fix">
			{template 'dingzhi'}
            </div>
          </div>
        </div>
            </div>
        </div>
